@font-face {
    font-family: 'Brandon Grotesque Light';
    src: url('assets/fonts/HVD_Fonts-BrandonGrotesque-Light.otf');
}

@font-face {
    font-family: 'Brandon Grotesque Regular';
    src: url('assets/fonts/HVD_Fonts-BrandonGrotesque-Regular.otf');
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('assets/fonts/HVD_Fonts-BrandonGrotesque-Medium.otf');
}

@font-face {
    font-family: 'Brandon Grotesque Black';
    src: url('assets/fonts/HVD_Fonts-BrandonGrotesque-Black.otf');
}

@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('assets/fonts/HVD_Fonts-BrandonGrotesque-Bold.otf');
}

@font-face {
    font-family: 'DomaineDisplay-Semibold';
    src: url('assets/fonts/DomaineDisplay-Semibold.otf');
}

@font-face {
    font-family: 'DomaineDisplay-Bold';
    src: url('assets/fonts/DomaineDisplay-Bold.otf');
}

@font-face {
    font-family: 'DomaineDisplay-Regular';
    src: url('assets/fonts/DomaineDisplay-Regular.otf');
}

@font-face {
    font-family: 'Calibre-Regular';
    src: url('assets/fonts/Calibre-Regular.otf');
}

@font-face {
    font-family: 'Calibre-Medium';
    src: url('assets/fonts/Calibre-Medium.otf');
}

@font-face {
    font-family: 'Calibre-Semibold';
    src: url('assets/fonts/Calibre-Semibold.otf');
}
