html, body
    height 100%
    width 100%
    overflow auto

.no-touch
    a:hover, a:active
        opacity 0.4

body
    -webkit-font-smoothing antialiased
    font-smoothing antialiased

*, *:before, *:after
    box-sizing border-box
