<template>
    <div :class="appClasses">
        <app-header>
            <router-view name="header"></router-view>
        </app-header>
        <app-content>
            <router-view></router-view>
        </app-content>
    </div>
</template>

<script>
    import AppHeader from '@/components/AppHeader.vue';
    import AppContent from '@/components/AppContent.vue';

    export default {
        name: 'app',
        components: {
            'app-header': AppHeader,
            'app-content': AppContent
        },
        computed: {
            appMode () {
                return this.$store.state.appMode;
            },
            isLoggedIn () {
                return this.$store.state.auth.isLoggedIn;
            },
            appClasses () {
                return {
                    'app': true,
                    'app--ingage': this.appMode === 'ingage',
                    'app--realestate': this.appMode === 'realestate'
                }
            }
        },
        watch: {
            isLoggedIn () {
                this.fetchUserData();
            }
        },
        methods: {
            detectTouch () {
                if (!('ontouchstart' in document.documentElement)) {
                    document.documentElement.classList.add('no-touch');
                }
            },
            fetchUserData () {
                const { isLoggedIn } = this;

                if (isLoggedIn) {
                    this.$store.dispatch('getUserDetails')
                        .then(() => this.$store.dispatch('getMemberships'))
                        .then(() => this.$store.dispatch('getBusinessDetails'))
                }
            }
        },
        created () {
            this.detectTouch();
            this.fetchUserData();
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/fonts'
    @import '~@/assets/styles/reset'
    @import '~@/assets/styles/global'
    @import '~@/assets/styles/colors'

    .app
        height 100%
        width 100%

        &--realestate
            a:focus
                outline-color dark-sky-blue
                outline-width 3px

            button:focus
                box-shadow: 0 0 3px 1px slate-grey

        &--ingage
            a
                text-decoration none

            a:focus
                outline-color $aquamarine
                outline-width 3px

            button:focus
                box-shadow: 0 0 3px 1px dark-grey-50
</style>
