<template>
    <ingage-nav-page class="address">
        <ingage-nav slot="nav"></ingage-nav>
        <ingage-form class="address__form" @submit="handleSubmit">
            <h1 class="address__title">Begin Purchase</h1>
            <h3 class="address__subtitle">Your custom iPad listing presentation. $299.</h3>
            <p class="address__description">Show off your seller credentials and win more listings.</p>
            <ingage-input
                name="name"
                class="address__input"
                autocomplete="name"
                placeholder="Full Name"
                v-model.trim="address.name"
                :invalid="$v.address.name.$error"
                type="text"
                autofocus>
            </ingage-input>
            <ingage-input
                name="address-line1"
                class="address__input"
                autocomplete="address-line1"
                placeholder="Billing Address Line 1"
                v-model.trim="address.line1"
                :invalid="$v.address.line1.$error"
                type="text">
            </ingage-input>
            <div class="address__two-container">
                <ingage-input
                    name="address-line2"
                    class="address__input"
                    autocomplete="address-line2"
                    placeholder="Billing Address Line 2"
                    v-model.trim="address.line2"
                    :invalid="$v.address.line2.$error"
                    type="text">
                </ingage-input>
                <ingage-input
                    name="city"
                    class="address__input"
                    autocomplete="address-level2"
                    placeholder="City"
                    v-model.trim="address.city"
                    :invalid="$v.address.city.$error"
                    type="text">
                </ingage-input>
            </div>
            <div class="address__three-container">
                <ingage-dropdown
                    name="state"
                    class="address__input"
                    autocomplete="address-level1"
                    :options="stateOptions"
                    v-model="address.state"
                    :invalid="$v.address.state.$error">
                </ingage-dropdown>
                <ingage-input
                    name="zip"
                    class="address__input"
                    autocomplete="postal-code"
                    placeholder="Zip Code"
                    v-model.trim="address.zip"
                    :invalid="$v.address.zip.$error"
                    pattern="[\d]{5}(-[\d]{4})?"
                    type="text">
                </ingage-input>
                <ingage-input
                    name="country"
                    class="address__input"
                    autocomplete="country"
                    placeholder="Country"
                    v-model.trim="address.country"
                    :invalid="$v.address.country.$error"
                    type="text"
                    disabled>
                </ingage-input>
            </div>
            <div class="address__error">
                <label v-if="error">
                    {{ error }}
                </label>
                <label v-else-if="$v.address.name.$error && !$v.address.name.required">
                    Full Name is required
                </label>
                <label v-else-if="$v.address.name.$error && !$v.address.name.maxLength">
                    Full Name must be under 100 characters long
                </label>
                <label v-else-if="$v.address.line1.$error && !$v.address.line1.required">
                    Billing Address is required
                </label>
                <label v-else-if="$v.address.line1.$error && !$v.address.line1.maxLength">
                    Billing Address lines must be under 100 characters long
                </label>
                <label v-else-if="$v.address.line2.$error && !$v.address.line2.maxLength">
                    Billing Address lines must be under 100 characters long
                </label>
                <label v-else-if="$v.address.city.$error && !$v.address.city.required">
                    City is required
                </label>
                <label v-else-if="$v.address.city.$error && !$v.address.city.maxLength">
                    City must be under 50 characters long
                </label>
                <label v-else-if="$v.address.state.$error && !$v.address.state.required">
                    State is required
                </label>
                <label v-else-if="$v.address.state.$error && !$v.address.state.maxLength">
                    State must be under 50 characters long
                </label>
                <label v-else-if="$v.address.zip.$error && !$v.address.zip.required">
                    Zip code is required
                </label>
                <label v-else-if="$v.address.zip.$error && !$v.address.zip.maxLength">
                    Zip code must be under 50 characters long
                </label>
                <label v-else-if="$v.address.country.$error && !$v.address.country.required">
                    Country is required
                </label>
                <label v-else-if="$v.address.country.$error && !$v.address.country.maxLength">
                    Country must be under 50 characters long
                </label>
            </div>
            <order-total
                :state="address.state">
            </order-total>
            <ingage-button
                type="submit"
                class="address__submit"
                :disabled="disabled">
                Save And Continue
            </ingage-button>
        </ingage-form>
    </ingage-nav-page>
</template>

<script>
    // dependencies
    import {
        required,
        maxLength
    } from 'vuelidate/lib/validators';

    // components
    import IngageNavPage  from '@/components/IngageNavPage.vue';
    import IngageNav      from '@/components/IngageNav.vue';
    import IngageForm     from '@/components/IngageForm.vue';
    import IngageInput    from '@/components/IngageInput.vue';
    import IngageDropDown from '@/components/IngageDropDown.vue';
    import IngageButton   from '@/components/IngageButton.vue';
    import OrderTotal     from '@/components/address/OrderTotal.vue';

    // states config
    import stateOptions from '@/config/stateOptions';

    // api
    import payments from '@/api/payments';

    export default {
        name: 'address-form',
        components: {
            'ingage-nav-page': IngageNavPage,
            'ingage-nav':      IngageNav,
            'ingage-form':     IngageForm,
            'ingage-input':    IngageInput,
            'ingage-dropdown': IngageDropDown,
            'ingage-button':   IngageButton,
            'order-total':     OrderTotal,
        },
        data () {
            return {
                stateOptions,
                address: {
                    name:    null,
                    line1:   null,
                    line2:   null,
                    city:    null,
                    state:   null,
                    zip:     null,
                    country: 'US'
                },
                disabled: false,
                error:    null
            };
        },
        validations: {
            address: {
                name: {
                    required,
                    maxLength: maxLength(100)
                },
                line1: {
                    required,
                    maxLength: maxLength(100)
                },
                line2: {
                    maxLength: maxLength(100)
                },
                city: {
                    required,
                    maxLength: maxLength(50)
                },
                state: {
                    required,
                    maxLength: maxLength(50)
                },
                zip: {
                    required,
                    maxLength: maxLength(50)
                },
                country: {
                    required,
                    maxLength: maxLength(50)
                }
            }
        },
        computed: {
            storiesProUser () {
                return this.$store.state.storiesProUser;
            },
            listingId () {
                return this.$store.state.workflow.listingId;
            },
            currentTier () {
                return this.$store.state.workflow.currentTier;
            },
            discount () {
                return this.$store.state.workflow.discount;
            }
        },
        methods: {
            handleSubmit () {
                // validate form
                this.$v.$touch();

                // don't continue if invalid
                if (this.$v.$invalid) return;

                // disable form while submitting
                this.disabled = true;

                this.continueToPayment();
            },
            continueToPayment () {
                const { address } = this;

                // set billing address
                this.$store.dispatch('setAddress', address);

                // navigate to payment page
                this.$router.replace({ name: 'payment' });
            }
        },
        created () {
            const tier = this.$route.query.tier;

            // start workflow
            this.$store.dispatch('startWorkflow', tier);
        },
        beforeRouteLeave (to, from, next) {
            if (to && to.name !== 'payment') {
                // stop workflow if navigating away
                this.$store.dispatch('stopWorkflow');
            }

            next();
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';

    .address__form
        max-width 640px
        padding 48px 0

    .address__title
        font-family 'Brandon Grotesque Black'
        font-size 14px
        line-height 16px
        letter-spacing 3px
        text-transform uppercase
        color charcoal-grey
        margin-bottom 32px

    .address__subtitle
        font-family 'Brandon Grotesque Light'
        font-size 38px
        line-height 64px
        letter-spacing -0.7px
        color charcoal-grey
        margin-bottom 9px

        @media (min-width: 460px)
            font-size 48px

    .address__description
        font-family Helvetica
        font-size 16px
        line-height 24px
        color charcoal-grey
        margin-bottom 24px

    .address__input
        margin-bottom 16px

    .address__two-container
        @media (min-width: 550px)
            display flex
            justify-content space-between

            .address__input:first-child
                width calc((2 * 100% - 16px) / 3)

            .address__input:last-child
                width calc((100% - 32px) / 3)

    .address__three-container
        margin-bottom 16px

        @media (min-width: 550px)
            display flex
            justify-content space-between

            .address__input
                width calc((100% - 32px) / 3)

    .address__error
        font-family Helvetica
        font-size 16px
        line-height 24px
        text-align center
        color coral
        margin-bottom 22px

    .address__submit
        margin 0 auto 32px
</style>
