<template>
    <div :class="orderTotalClasses">
        <ul class="order-total__total-list">
            <li class="order-total__total-item">
                <span>{{ currentTier.name }}</span><span>{{ currentTier.price | currency }}</span>
            </li>
            <li class="order-total__total-item" v-show="discount > 0">
                <span>Coupon discount</span><span>{{ discount | currency}}</span>
            </li>
            <li class="order-total__total-item">
                <span>Tax</span><span>{{ tax | currency }}</span>
            </li>
            <li class="order-total__total-item">
                <span>TOTAL</span><span>{{ total | currency }}</span>
            </li>
        </ul>
        <div class="order-total__email-us">
            <p>Have a question or need help? <a href="mailto:support@scrollmotion.com">Send us an email.</a></p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'order-total',
        props: {
            state: {
                type:    String,
                default: ''
            },
            disabled: {
                type:    Boolean,
                default: false
            }
        },
        computed: {
            orderTotalClasses () {
                return {
                    'order-total':           true,
                    'order-total--disabled': this.disabled
                };
            },
            currentTier () {
                return this.$store.state.workflow.currentTier;
            },
            amountOff () {
                return this.$store.state.workflow.discount.amountOff;
            },
            percentOff () {
                return this.$store.state.workflow.discount.percentOff;
            },
            discount () {
                const { currentTier, amountOff, percentOff } = this;

                // returns discount in pennies
                return amountOff ? amountOff : currentTier.price * (percentOff / 100);
            },
            taxRate () {
                const { state } = this;

                // Apply tax if user is a resident of california
                if (state === 'CA') {
                    return 0.0775;
                }

                //...or new york
                else if (state === 'NY') {
                    return 0.08875;
                }

                return 0;
            },
            tax () {
                const { currentTier, discount, taxRate } = this;

                // Get tax amount after any discounts
                return (currentTier.price - discount) * taxRate;
            },
            total () {
                const { currentTier, discount, tax } = this;

                // get total after discounts and taxes
                return currentTier.price - discount + tax;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';

    .order-total
        max-width 640px

        &--disabled
            opacity 0.6

    .order-total__total-list
        margin-bottom: 24px

        @media (min-width: 768px)
            max-width 100%

    .order-total__total-item
        height 48px
        padding 0 20px
        font-family Helvetica
        color charcoal-grey
        background-color white
        border-radius 4px
        display flex
        justify-content space-between
        align-items center

        &:last-child
            background-color dark-sky-blue-20

        &:not(:last-child)
            margin-bottom 16px

    .order-total__email-us
        font-family Helvetica
        font-size 16px
        line-height 24px
        color charcoal-grey
        text-align center
        margin-bottom 24px

        a
            color dark-sky-blue
            text-decoration none
</style>
