<template>
    <p @click="toggle" :class="tierToggleClasses">
        Or purchase for {{ otherTier.price | currency }} {{ otherTier.frequency }}
    </p>
</template>

<script>
    export default {
        name: 'tier-toggle',
        props: {
            disabled: {
                type:    Boolean,
                default: false
            }
        },
        computed: {
            otherTier () {
                const { currentTier, tiers } = this.$store.state.workflow;

                if (currentTier.frequency === 'yearly') {
                    return tiers.ingageProMonthly;
                }

                return tiers.ingageProYearly;
            },
            tierToggleClasses () {
                return {
                    'tier-toggle':           true,
                    'tier-toggle--disabled': this.disabled
                }
            }
        },
        methods: {
            toggle () {
                if (this.disabled) return;

                this.$store.dispatch('setCurrentTier', this.otherTier);
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';

    .tier-toggle
        font-family 'Brandon Grotesque Regular'
        font-size 16px
        line-height 24px
        letter-spacing 1px
        text-align center
        color dark-sky-blue
        cursor pointer

        &--disabled
            opacity 0.6

        &:hover
            opacity 0.4
</style>

