<template>
    <div :class="dashboardClasses">
        <div class="dashboard__header">
            <ul class="dashboard__menu">
                <li class="dashboard__menu-item">
                    <router-link
                        class="dashboard__link"
                        active-class="dashboard__link--active"
                        :to="{ name: 'content' }">
                        My Projects
                    </router-link>
                </li>
                <li class="dashboard__menu-item">
                    <router-link
                        class="dashboard__link"
                        active-class="dashboard__link--active"
                        :to="{ name: 'profile' }">
                        My Profile
                    </router-link>
                </li>
                <li class="dashboard__menu-item">
                    <a @click.prevent="handleLogout" class="dashboard__link" href="#">Log out</a>
                </li>
            </ul>
        </div>
        <div class="dashboard__content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'dashboard',
        computed: {
            dashboardClasses () {
                return {
                    'dashboard': true,
                    'dashboard--expanded': this.expanded
                };
            },
            expanded () {
                return this.$store.state.headerExpanded;
            }
        },
        methods: {
            handleLogout () {
                this.$auth.logout();
            }
        },
        created () {
            // fetch stories
            this.$store.dispatch('getContents');

            // fetch listings
            this.$store.dispatch('getListings');
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .dashboard
        height 100%
        background light-grey

    .dashboard__header
        height 0px
        overflow: hidden
        background-color slate-grey
        transition height 0.2s

        .dashboard--expanded &
            height 48px

    .dashboard__content
        height 100%
        transition height 0.2s
        overflow-y scroll

        .dashboard--expanded &
            height calc(100% - 48px)

    .dashboard__menu
        max-width 1024px
        height 100%
        margin 0 auto
        padding 0 16px
        display flex
        justify-content flex-end
        align-items center

    .dashboard__menu-item
        margin-left 24px

    .dashboard__link
        display block
        padding 8px 0
        font-family 'Brandon Grotesque Regular'
        font-size 18px
        line-height 16px
        letter-spacing 0.5px
        text-decoration none
        color white

        &--active
            border-bottom 1.5px solid white
</style>
