<template>
    <div :class="dashboardHeaderClasses">
        <a
            @click.prevent="toggleDashboardHeader"
            class="dashboard-header__button"
            href="#">
            {{ firstName }}
        </a>
    </div>
</template>

<script>
    export default {
        name: 'dashboard-header',
        computed: {
            dashboardHeaderClasses () {
                return {
                    'dashboard-header': true,
                    'dashboard-header--expanded': this.expanded
                }
            },
            firstName () {
                return this.$store.state.user.firstName;
            },
            expanded () {
                return this.$store.state.headerExpanded;
            }
        },
        methods: {
            toggleDashboardHeader () {
                this.$store.commit('TOGGLE_EXPAND_HEADER');
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .dashboard-header
        display flex
        align-items center

    .dashboard-header__button
        font-family 'Brandon Grotesque Medium'
        font-size 18px
        line-height 16px
        letter-spacing 0.5px
        text-transform capitalize
        text-decoration none
        border solid 1px light-grey
        border-radius 2px
        color white
        padding: 8px 13px

        &:after
            content ''
            display inline-block
            width 8px
            height 8px
            border-bottom solid 1.5px white
            border-right solid 1.5px white
            transform rotate(45deg)
            margin-left 6px
            margin-bottom 2px

        .dashboard-header--expanded &:after
            transform rotate(-135deg)
            margin-bottom -2px
</style>
