extends default

block title
    | 404 Not Found

block head
    style.
        .container {
            margin: 10px auto;
            max-width: 600px;
            text-align: center;
        }

        h1 {
            font-size: 4em;
        }

block body
    .container
        h1 404
        p
            strong Page not found :(
        p The requested page could not be found.
