doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        meta(name="viewport" content="width=device-width, initial-scale=1")

        title
            block title

        link(rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico")

        block head
    body
        block body

        block footer
