extends default

block title
    | Ingage Web Portal

block head
    include ./scripts/mixpanel

    include ./scripts/googleTagManager

    script(src="https://apis.google.com/js/platform.js" defer)

block body
    include ./scripts/googleTagManagerNoscript

    div(id="app")

block footer
    include ./scripts/facebookSDK

    script.
        (function () {
            var config = window.dashboardConfig || {};

            config.APP_MODE         = 'ingage';
            config.LANDING_URL      = '/ingage/';
            config.API_URL          = '#{env.API_URL}';
            config.CLIENT_ID        = '#{env.CLIENT_ID}';
            config.STRIPE_KEY       = '#{env.STRIPE_KEY}';
            config.GOOGLE_LOGIN_KEY = '#{env.GOOGLE_LOGIN_KEY}';

            window.dashboardConfig = config;
        })();

    script(src="https://js.stripe.com/v2/" defer)

    script(src="/client/build.js" defer)
