extends default

block title
    | Unsubscribe

block head
    include ./scripts/mixpanel

    link(rel='stylesheet', href="/assets/css/style.css")

block body
    .app
        .app-header
            .app-header__content
                .app-header__logo
                    .app-logo
                        img.app-logo__icon(src='/assets/images/ingage-logo.svg')
        .app-content
            .ingage-page
                .ingage-page__content
                    .content
                        h1.content__heading You have been unsubscribed 
                            br
                            | from Ingage educational emails.
                        p.content__text Did you unsubscribe by mistake? 
                            a(id="resubscribe" href="/resubscribed") Click here to resubscribe.

block footer
    script.
        function getQueryParam(param) {
            param = param.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regexS = "[\\?&]" + param + "=([^&#]*)",
                regex = new RegExp( regexS ),
                results = regex.exec(document.URL);
            if (results === null || (results && typeof(results[1]) !== 'string' && results[1].length)) {
                return '';
            } else {
                return decodeURIComponent(results[1]).replace(/\+/g, ' ');
            }
        };

        var distinct_id = getQueryParam("id");

        mixpanel.people.set({"edu-unsubscribe":"true"});
        mixpanel.ingage_instants.people.set({"edu-unsubscribe":"true"});
        mixpanel.ingage_stories.people.set({"edu-unsubscribe":"true"});

        mixpanel.identify(distinct_id);
        mixpanel.ingage_instants.identify(distinct_id);
        mixpanel.ingage_stories.identify(distinct_id);

        document.addEventListener('DOMContentLoaded', function () {
            var resubscribe = document.querySelector('#resubscribe');
            resubscribe.href += '?id=' + distinct_id;
        });
