html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #00B090;
}
a:hover, a:active {
    opacity: 0.4;
}

@font-face {
    font-family: 'DomaineDisplay-Semibold';
    src: url('/assets/fonts/DomaineDisplay-Semibold.otf');
}

@font-face {
    font-family: 'Calibre-Regular';
    src: url('/assets/fonts/Calibre-Regular.otf');
}

@font-face {
    font-family: 'Calibre-Medium';
    src: url('/assets/fonts/Calibre-Medium.otf');
}

.app {
    height: 100%;
    width: 100%;
}


.app-header {
    height: 40px;
    background-color: #232329;
}

.app-header__content {
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 928px;
}

.app-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    height: 40px;
    transform: translate(-50%, 0);
}

.app-header__slot {
    position: absolute;
    top: 0;
    right: 20px;
    height: 40px;
    display: flex;
}

.app-logo__icon {
    height: 40px;
    width: auto;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .app-header {
        height: 60px;
    }

    .app-header__logo {
        height: 60px;
    }

    .app-header__slot {
        height: 60px;
    }

    .app-logo__icon {
        height: 60px;
        padding: 15px 0;
    }
}

.app-content {
    height: calc(100% - 40px);
    background-color: #EDEDEB;
}

@media (min-width: 768px) {
    .app-content {
        height: calc(100% - 60px);
    }
}

.ingage-page {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ingage-page__content {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.content {
    text-align: center;
    padding: 42px 0 122px;
}

.content__heading {
    font-family: DomaineDisplay-SemiBold;
    font-size: 18px;
    margin-bottom: 32px;
}

@media (min-width: 414px) {
    .content__heading {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .content__heading {
        font-size: 38px;
    }
}

.content__text {
    font-family: Calibre-Regular, sans-serif;
    font-size: 15px;
    color: #232329;
    text-align: center;
}

@media (min-width: 414px) {
    .content__text {
        font-size: 17px;
    }
}

.content__text a {
    font-family: Calibre-Medium, Calibre, sans-serif;
}
