<template>
    <form
        @submit.prevent="changePassword"
        class="change-password"
        novalidate>
        <ingage-input
            name="username"
            autocomplete="username"
            style="display: none;">
        </ingage-input>
        <ingage-input
            class="change-password__input"
            autocomplete="current-password"
            placeholder="Current"
            :invalid="$v.password.$error"
            v-model="password"
            type="password">
        </ingage-input>
        <ingage-input
            class="change-password__input"
            autocomplete="new-password"
            placeholder="New Password"
            :invalid="$v.new_password.$error"
            v-model="new_password"
            type="password">
        </ingage-input>
        <ingage-input
            class="change-password__input"
            autocomplete="new-password"
            placeholder="Confirm"
            :invalid="$v.confirm.$error"
            v-model="confirm"
            type="password">
        </ingage-input>
        <div v-if="$v.$error || currentInvalid" class="change-password__error">
            <label v-if="$v.password.$error">
                Current password is required
            </label>
            <label v-else-if="currentInvalid">
                Current password is not valid
            </label>
            <label v-else-if="$v.new_password.$error && !$v.new_password.required">
                New password is required
            </label>
            <label v-else-if="$v.new_password.$error && !$v.new_password.oneCap">
                New password must contain at least one upper case character
            </label>
            <label v-else-if="$v.new_password.$error && !$v.new_password.oneLower">
                New password must contain at least one lower case character
            </label>
            <label v-else-if="$v.new_password.$error && !$v.new_password.oneDigit">
                New password must contain at least one digit
            </label>
            <label v-else-if="$v.new_password.$error && !$v.new_password.noSpaces">
                Password must not contain white spaces
            </label>
            <label v-else-if="$v.new_password.$error && (!$v.new_password.minLength || !$v.new_password.maxLength)">
                New password must be between 8 and 30 characters in length
            </label>
            <label v-else-if="$v.confirm.$error && !$v.confirm.required">
                Password confirmation is required
            </label>
            <label v-else-if="$v.confirm.$error && !$v.confirm.sameAsNewPassword">
                Passwords must match
            </label>
        </div>
        <ingage-button
            class="change-password__submit"
            type="submit"
            :success="success"
            :disabled="isButtonDisabled">
            {{ success ? 'Saved' : 'Change Password' }}
        </ingage-button>
    </form>
</template>

<script>
    // built-in validators
    import {
        required,
        minLength,
        maxLength,
        sameAs
    } from 'vuelidate/lib/validators';

    // custom validators
    import {
        oneDigit,
        oneLower,
        oneCap,
        noSpaces
    } from '@/validators';

    // components
    import IngageInput  from '@/components/IngageInput.vue';
    import IngageButton from '@/components/IngageButton.vue';

    // api
    import passwordApi from '@/api/password';

    export default {
        name: 'change-password',
        components: {
            'ingage-input':  IngageInput,
            'ingage-button': IngageButton
        },
        data () {
            return {
                password:           null,
                new_password:       null,
                confirm:            null,
                currentInvalid:     false,
                isUpdatingPassword: false,
                success:            false
            };
        },
        validations: {
            password: {
                required
            },
            new_password: {
                required,
                minLength: minLength(8),
                maxLength: maxLength(30),
                oneDigit,
                oneLower,
                oneCap,
                noSpaces
            },
            confirm: {
                required,
                sameAsNewPassword: sameAs('new_password')
            }
        },
        computed: {
            isFormEmpty () {
                const { $v } = this;

                return !$v.new_password.required &&
                       !$v.password.required &&
                       !$v.confirm.required;
            },
            isButtonDisabled () {
                const { isFormEmpty, isUpdatingPassword } = this;

                return isFormEmpty || isUpdatingPassword;
            }
        },
        methods: {
            changePassword () {
                const { password, new_password } = this;

                this.$v.$touch();

                if (!this.$v.$invalid) {
                    // password is being updated
                    this.isUpdatingPassword = true;

                    passwordApi.changePassword({
                        password,
                        new_password
                    })
                    .then(() => {
                        this.$v.$reset();

                        // empty form fields
                        this.password     = null;
                        this.new_password = null;
                        this.confirm      = null;

                        // no longer updating password
                        this.isUpdatingPassword = false;

                        this.showSuccess();
                    })
                    .catch(response => {
                        const body  = response.body;
                        const error =  body.errors[0];

                        // no longer updating password
                        this.isUpdatingPassword = false;

                        // current password is not valid
                        if (error.code === 'invalid' && error.field === 'password') {
                            this.currentInvalid = true;
                        }
                    });
                }
            },
            showSuccess () {
                this.success = true;

                // temporarily show success message
                setTimeout(() => this.success = false, 5000);
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .change-password
        max-width 640px
        margin-bottom 24px

    .change-password__input
        display block
        width 640px
        height 48px
        margin-bottom 16px
        max-width 100%

        &:last-of-type
            margin-bottom 12px

    .change-password__error
        font-family Helvetica
        font-size 16px
        line-height 24px
        color coral
        padding-top 4px
        padding-bottom 16px

    .change-password__submit
        @media (max-width 414px)
            margin 0 auto
</style>
