<template>
    <div class="dashboard-profile">
        <div class="dashboard-profile__content">
            <h1 class="dashboard-profile__title">Change Password</h1>
            <change-password></change-password>
            <h1 class="dashboard-profile__title">User Information</h1>
            <form class="dashboard-profile__form" @submit.prevent="handleSubmit">
                <ingage-input
                    class="dashboard-profile__input"
                    :value="email"
                    type="email"
                    disabled>
                </ingage-input>
                <ingage-input
                    class="dashboard-profile__input"
                    placeholder="First name"
                    v-model.trim="firstName"
                    :invalid="$v.firstName.$error"
                    type="text">
                </ingage-input>
                <ingage-input
                    class="dashboard-profile__input"
                    placeholder="Last name"
                    v-model.trim="lastName"
                    :invalid="$v.lastName.$error"
                    type="text">
                </ingage-input>
                <ingage-input
                    class="dashboard-profile__input"
                    placeholder="Phone Number"
                    v-model.trim="phoneNumber"
                    :invalid="$v.phoneNumber.$error"
                    type="text">
                </ingage-input>
                <ingage-input
                    class="dashboard-profile__input"
                    placeholder="Company Name"
                    v-model.trim="name"
                    :invalid="$v.name.$error"
                    type="text">
                </ingage-input>
                <ingage-input
                    class="dashboard-profile__input"
                    placeholder="Company Website"
                    v-model.trim="website"
                    :invalid="$v.website.$error"
                    type="text"
                    value="http://">
                </ingage-input>
                <ingage-textarea
                    class="dashboard-profile__textarea"
                    placeholder="Brief Description"
                    :invalid="$v.description.$error"
                    v-model="description">
                </ingage-textarea>
                <div class="dashboard-profile__error">
                    <label v-if="$v.firstName.$error && !$v.firstName.required">
                        First name is required
                    </label>
                    <label v-else-if="$v.firstName.$error && !$v.firstName.maxLength">
                        First name must be under 35 characters long
                    </label>
                    <label v-else-if="$v.lastName.$error && !$v.lastName.required">
                        Last name is required
                    </label>
                    <label v-else-if="$v.lastName.$error && !$v.lastName.maxLength">
                        Last name must be under 35 characters long
                    </label>
                    <label v-else-if="$v.phoneNumber.$error">
                        Phone number must be under 30 characters long
                    </label>
                    <label v-else-if="$v.name.$error">
                        Company name must be under 50 characters long
                    </label>
                    <label v-else-if="$v.website.$error && !$v.website.url">
                        Website must be a valid URL (e.g. https://www.scrollmotion.com/)
                    </label>
                    <label v-else-if="$v.website.$error && !$v.website.maxLength">
                        Website must be a under 200 characters long
                    </label>
                    <label v-else-if="this.$v.description.$error">
                        Description must be under 100 characters long
                    </label>
                </div>
                <ingage-button
                    class="dashboard-profile__submit"
                    type="submit"
                    :success="success"
                    :disabled="isButtonDisabled">
                    {{ success ? 'Saved' : 'Save Changes' }}
                </ingage-button>
            </form>
        </div>
    </div>
</template>

<script>
    // dependencies
    import { url, required, maxLength } from 'vuelidate/lib/validators';

    // components
    import ProfileImage   from '@/components/dashboard/profile/ProfileImage.vue';
    import ChangePassword from '@/components/dashboard/profile/ChangePassword.vue';
    import IngageInput    from '@/components/IngageInput.vue';
    import IngageTextArea from '@/components/IngageTextArea.vue';
    import IngageButton   from '@/components/IngageButton.vue';

    export default {
        name: 'dashboard-profile',
        components: {
            'profile-image':   ProfileImage,
            'change-password': ChangePassword,
            'ingage-input':    IngageInput,
            'ingage-textarea': IngageTextArea,
            'ingage-button':   IngageButton
        },
        data () {
            return {
                email:           this.$store.state.user.email,
                firstName:       this.$store.state.user.firstName,
                lastName:        this.$store.state.user.lastName,
                phoneNumber:     this.$store.state.business.phoneNumber,
                name:            this.$store.state.business.name,
                website:         this.$store.state.business.website,
                description:     this.$store.state.business.description,
                isSavingChanges: false,
                success:         false
            };
        },
        validations() {
            const { phoneNumber, website, description } = this;

            let settings = {
                firstName: {
                    required,
                    maxLength: maxLength(35)
                },
                lastName: {
                    required,
                    maxLength: maxLength(35)
                },
                phoneNumber: {
                    maxLength: maxLength(30)
                },
                name: {
                    maxLength: maxLength(50)
                },
                website: {
                    url,
                    maxLength: maxLength(200)
                },
                description: {
                    maxLength: maxLength(100)
                }
            };

            // Company name is required if
            // company properties contain values
            if (phoneNumber || website || description) {
                settings.name.required = required;
            }

            return settings;
        },
        computed: {
            wasFormChanged () {
                const { $store } = this;
                const { state }  = $store;

                let formChanged = false;

                if (this.firstName !== state.user.firstName) {
                    formChanged = true;
                }

                else if (this.lastName !== state.user.lastName) {
                    formChanged = true;
                }

                else if (this.phoneNumber !== state.business.phoneNumber) {
                    formChanged = true;
                }

                else if (this.name !== state.business.name) {
                    formChanged = true;
                }

                else if (this.website !== state.business.website) {
                    formChanged = true;
                }

                else if (this.description !== state.business.description) {
                    formChanged = true;
                }

                return formChanged;
            },
            isButtonDisabled () {
                const { isSavingChanges, wasFormChanged } = this;

                return isSavingChanges || !wasFormChanged;
            }
        },
        methods: {
            handleSubmit () {
                const {
                    $v,
                    $store,
                    firstName,
                    lastName,
                    phoneNumber,
                    name,
                    website,
                    description
                } = this;

                $v.$touch();

                if (!$v.$invalid) {
                    this.isSavingChanges = true;

                    $store.dispatch('updateUserDetails', {
                        first_name: firstName,
                        last_name:  lastName
                    })
                    .then(() => {
                        if (name) {
                            return $store.dispatch('updateBusinessDetails', {
                                phone_number: phoneNumber,
                                name,
                                website,
                                description
                            });
                        }
                    })
                    .then(() => {
                        this.isSavingChanges = false;

                        this.showSuccess();
                    });
                }
            },
            showSuccess () {
                this.success = true;

                // temporarily show success message
                setTimeout(() => this.success = false, 5000);
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .dashboard-profile
        min-height 100%

        &__content
            max-width 1024px
            margin 0 auto
            padding 48px 16px 64px

        &__title
            font-family 'Brandon Grotesque Black'
            font-size 14px
            line-height 16px
            letter-spacing 3px
            text-transform uppercase
            color slate-grey
            margin-bottom 16px

        &__form
            max-width 640px

        &__add-image
            margin-bottom 16px

        &__input
            display block
            width 640px
            height 48px
            margin-bottom 16px
            max-width 100%

        &__textarea
            display block
            width 640px
            height 96px
            max-width 100%

        &__error
            font-family Helvetica
            font-size 16px
            line-height 24px
            color coral
            padding 16px 0

        &__submit
            @media (max-width 414px)
                margin 0 auto
</style>
