<template>
    <div class="profile-image">
        <div class="profile-image__button">+</div>
        <a
            @click.prevent="handleClick"
            class="profile-image__link"
            href="#">
            <slot></slot>
        </a>
        <input
            style="display: none"
            ref="input"
            @change="handleSelected"
            type="file"
            accept="image/*">
    </div>
</template>

<script>
    export default {
        name: 'profile-image',
        data () {
            return {
            };
        },
        methods: {
            handleClick () {
                this.$refs.input.click();
            },
            handleSelected (evt) {
                this.$emit('select', evt.target.files[0])
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .profile-image
        display flex

    .profile-image__button
        width 40px
        height 40px
        border-radius 50%
        background-color slate-grey-two
        opacity 0.5
        margin-right 9px
        font-family Helvetica-Light, Helvetica
        font-size 20px
        line-height 40px
        text-align center
        color white

    .profile-image__link
        font-family Helvetica-Bold, Helvetica
        font-size 16px
        line-height 16px
        letter-spacing 0.4px
        color dark-sky-blue
        text-decoration none
        margin-top 15px
</style>
