<template>
    <div class="frequency-toggle" v-if="tier === 'stories'">
        <div class="frequency-toggle__row">
            <router-link class="frequency-toggle__link" :to="{ name: 'purchase-stories-monthly' }" active-class="frequency-toggle__link--active">
                <span class="frequency-toggle__radio"></span>$19.99 Billed monthly
            </router-link>
        </div>
        <div class="frequency-toggle__row">
            <router-link class="frequency-toggle__link" :to="{ name: 'purchase-stories-yearly' }" active-class="frequency-toggle__link--active">
                <span class="frequency-toggle__radio"></span>$199.99 Billed yearly
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'frequency-toggle',
        props: {
            tier: {
                type: String
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';

    .frequency-toggle
        &__row
            height 38px
            padding 0 16px
            border-top 1px solid disabled-grey

        &__link
            font-family 'Calibre-Regular'
            font-size 15px
            line-height 38px
            color dark-grey
            text-decoration none
            position relative

            &--active
                font-family 'Calibre-Semibold'

        &__radio
            display inline-block
            height 14px
            width 14px
            border 1px solid charcoal-grey
            border-radius 50%
            margin-right 13px
            position relative
            top 3px

        &__link--active &__radio
            border-color $aquamarine

            &::before
                content: ''
                position absolute
                height 8px
                width 8px
                border-radius 50%
                background $aquamarine
                top 2px
                left 2px
</style>
