<template>
    <div class="product-description">
        <div class="product-description__title" v-if="tier === 'stories'">Stories Pro</div>
        <div class="product-description__title" v-else-if="tier === 'instants'">Instants Pro</div>
        <div class="product-description__body">
            <p v-if="$route.name === 'purchase-instants'">
                Get unlimited access to tools, templates, and storage for dazzling social-media video posts that build your brand.
            </p>
            <p v-else>
                Get unlimited access to tools, templates, and storage for dazzling iPad presentations that inspire and amaze.
            </p>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    // export default {
    //     name: 'product-toggle'
    // };
    export default {
        name: 'product-description',
        props: {
            tier: {
                type: String
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';
    @import '~@/assets/styles/vars';

    .product-description
        margin-bottom 19px

        &__title
            font-family 'Calibre-Semibold'
            font-size 17px
            line-height 40px
            padding 0 16px
            color $tealish
            background charcoal-grey
            border-radius 12px 12px 0 0

            @media (min-width $mq-md)
                padding 0 24px

        &__body
            font-family 'Calibre-Regular'
            font-size 15px
            line-height 18px
            background light-grey
            border 1px solid disabled-grey
            border-top 0
            border-radius 0 0 12px 12px

            p
                padding 10px 16px 0
                margin-bottom 16px

                @media (min-width $mq-md)
                    padding 10px 24px 0

                @media (min-width $mq-lg)
                    padding 10px 19px 0

        &__toggle
            padding-bottom 32px
</style>
