<template>
    <div class="purchase-total">
        <h3 class="purchase-total__title">Choose your plan</h3>
        <p class="purchase-total__step">3. Order Summary</p>
        <product-description :tier="$route.meta.tier">
            <frequency-toggle :tier="$route.meta.tier"></frequency-toggle>
        </product-description>
        <p class="purchase-total__step">4. Confirm Order</p>
        <div class="purchase-total__summary">
            <div class="purchase-total__tier">
                <span>{{ currentTier.name }}</span><span>{{ currentTier.price | currency }}</span>
            </div>
            <div class="purchase-total__discount" v-if="discount > 0">
                <span>Coupon Discount</span><span>{{ discount | currency}}</span>
            </div>
            <div class="purchase-total__tax">
                <span>Tax</span><span>{{ tax | currency }}</span>
            </div>
            <div class="purchase-total__rule"></div>
            <div class="purchase-total__total">
                <span>TOTAL</span><span>{{ total | currency }}</span>
            </div>
            <ingage-button
                :disabled="progress || disabled"
                :progress="progress"
                class="purchase-total__submit">
                Purchase
            </ingage-button>
        </div>
        <div class="purchase-total__error">
            <label v-if="disabled">
                You're already subscribed to {{ plan }}
            </label>
        </div>
        <return-policy class="purchase-total__return"></return-policy>
    </div>
</template>

<script>
    import ProductDescription from '@/components/purchase/ProductDescription.vue';
    import FrequencyToggle from '@/components/purchase/FrequencyToggle.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import ReturnPolicy from '@/components/ReturnPolicy.vue';

    export default {
        name: 'purchase-total',
        components: {
            'product-description': ProductDescription,
            'frequency-toggle': FrequencyToggle,
            'ingage-button': IngageButton,
            'return-policy': ReturnPolicy,
        },
        props: {
            progress: {
                type: Boolean,
                default: false
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            plan () {
                return this.$store.state.workflow.currentTier.plan;
            },
            state () {
                return this.$store.state.workflow.address.state;
            },
            currentTier () {
                return this.$store.state.workflow.currentTier;
            },
            amountOff () {
                return this.$store.state.workflow.discount.amountOff;
            },
            percentOff () {
                return this.$store.state.workflow.discount.percentOff;
            },
            discount () {
                const { currentTier, amountOff, percentOff } = this;

                // returns discount in pennies
                return amountOff ? amountOff : currentTier.price * (percentOff / 100);
            },
            taxRate () {
                const state = this.state;

                // Apply tax if user is a resident of california
                if (state === 'CA') {
                    return 0.0775;
                }

                //...or new york
                else if (state === 'NY') {
                    return 0.08875;
                }

                return 0;
            },
            tax () {
                const { currentTier, discount, taxRate } = this;

                // Get tax amount after any discounts
                return (currentTier.price - discount) * taxRate;
            },
            total () {
                const { currentTier, discount, tax } = this;

                // get total after discounts and taxes
                return currentTier.price - discount + tax;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';
    @import '~@/assets/styles/vars';

    .purchase-total
        &__title
            font-family 'DomaineDisplay-SemiBold'
            font-size 24px
            line-height 55px
            letter-spacing -0.3px
            color dark-grey
            margin-bottom 6px

            @media (min-width: $mq-md)
                font-size 28px

        &__step
            font-family 'Calibre-Regular'
            font-size 17px
            color dark-grey
            margin-bottom 7px

        &__summary
            font-family 'Calibre-Regular'
            font-size 15px
            padding 21px 16px 23px
            border-radius 12px
            color white-color
            background charcoal-grey

            > div
                margin-bottom 20px

                span:last-child
                    float right

        &__tier
            font-family 'Calibre-Semibold'
            color $tealish

            @media (min-width: $mq-md)
                font-size 17px

        &__total
            font-family 'Calibre-Semibold'
            font-size 17px
            color $tealish

            @media (min-width: $mq-md)
                font-size 21px

        &__rule
            border 1px solid disabled-grey
            height 0px
            margin-left -2px
            margin-right -2px

        &__submit&__submit
            font-size 16px
            letter-spacing 0
            line-height 38px
            width 142px
            height 38px
            margin 0 auto
            color $dark-grey-two

        &__error
            font-family 'Calibre-Regular'
            font-size 12px
            letter-spacing -0.1px
            text-align center
            color coral
            margin-top 5px

        &__return
            margin-top 19px

            @media (min-width $mq-md)
                margin-top 32px
</style>
