<template>
    <div :class="purchaseHeaderClasses">
        <div class="purchase-header__logout">
            <p class="purchase-header__name">{{ firstName }} {{ lastName }}
                <a class="purchase-header__link" href="#" @click.prevent="handleLogout">Logout</a>
            </p>
        </div>
        <div class="purchase-header__toggle" @click="toggleHeader">
            <div></div>
            <div></div>
        </div>
        <div class="purchase-header__slide">
            <p class="purchase-header__name">{{ firstName }} {{ lastName }}
                <a class="purchase-header__link" href="#" @click.prevent="handleLogout">Logout</a>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'purchase-header',
        computed: {
            purchaseHeaderClasses () {
                return {
                    "purchase-header": true,
                    "purchase-header--open": this.headerExpanded
                }
            },
            headerExpanded () {
                return this.$store.state.headerExpanded;
            },
            firstName () {
                return this.$store.state.user.firstName;
            },
            lastName () {
                return this.$store.state.user.lastName;
            }
        },
        methods: {
            handleLogout () {
                this.$auth.logout(this.$route.meta.login);
            },
            toggleHeader () {
                this.$store.commit('TOGGLE_EXPAND_HEADER');
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .purchase-header
        &__logout
            display none

            @media (min-width $mq-md)
                display block

        &__name
            font-family 'Calibre-Regular'
            font-size 14px
            line-height $header-height-ingage-sm
            letter-spacing -0.2px
            color light-grey
            text-align right

            @media (min-width $mq-md)
                line-height $header-height-ingage-lg

        &__link
            font-family 'Calibre-Medium'
            color $tealish
            margin-left 16px

        &__toggle
            position relative
            height 100%
            width 22px
            margin-left 20px

            @media (min-width $mq-md)
                display none

            div
                position absolute
                left 0
                width 22px
                border 1px solid light-grey
                transition 0.2s ease-in-out

                &:first-child
                    top 15px

                &:last-child
                    top 23px

        &--open &__toggle
            div:first-child
                transform rotate(45deg) translateY(3px) translateX(3px)

            div:last-child
                transform rotate(-45deg) translateY(-3px) translateX(2px)

        &__slide
            position fixed
            top $header-height-ingage-sm
            left 0
            width 100%
            height 0
            background charcoal-grey
            will-change height
            transition height 0.2s ease-in-out
            padding 0 20px
            overflow hidden

        &--open &__slide
            height $header-height-ingage-sm
            z-index 5

            @media (min-width $mq-md)
                display none
</style>
