<template>
    <ingage-page class="purchase">
        <x-upgrade>
            <template slot-scope="{ progress }">
                <purchase-total :progress="progress"></purchase-total>
            </template>
        </x-upgrade>
        <corner-star class="purchase__corner-star"></corner-star>
    </ingage-page>
</template>

<script>
    import IngagePage from '@/components/IngagePage.vue';
    import Upgrade from '@/components/purchase/Upgrade.vue';
    import PurchaseTotal from '@/components/purchase/PurchaseTotal.vue';
    import CornerStar from '@/components/CornerStar.vue';

    export default {
        name: 'purchase',
        components: {
            'ingage-page': IngagePage,
            'x-upgrade': Upgrade,
            'purchase-total': PurchaseTotal,
            'corner-star': CornerStar
        },
        computed: {
            purchaseInstants () {
                return this.$route.name === 'purchase-instants';
            },
            purchaseStories () {
                return this.$route.name === 'purchase-stories-monthly' ||
                       this.$route.name === 'purchase-stories-yearly';
            },
            instantsProUser () {
                return this.$store.state.instantsProUser;
            },
            storiesProUser () {
                return this.$store.state.storiesProUser;
            }
        },
        watch: {
            instantsProUser () {
                this.checkSubscriptions();
            },
            storiesProUser () {
                this.checkSubscriptions();
            }
        },
        methods: {
            checkSubscriptions () {
                const { instantsProUser, storiesProUser } = this;
                const { purchaseInstants, purchaseStories } = this;

                if (instantsProUser && purchaseInstants) {
                    this.$router.push({ name: 'purchase-subscribed-instants' });
                }

                else if (storiesProUser && purchaseStories) {
                    this.$router.push({ name: 'purchase-subscribed-stories' });
                }
            }
        },
        created () {
            // set stripe key
            Stripe.setPublishableKey(window.dashboardConfig.STRIPE_KEY);

            // check if user is already subscribed
            this.checkSubscriptions();
        },
        beforeRouteLeave (to, from, next) {
            this.$store.dispatch('stopWorkflow');

            next();
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .purchase
        &__corner-star
            @media (max-width $mq-md - 1)
                display none

            @media (min-width $mq-lg)
                right 0

            @media (min-width $mq-xl)
                right 5%
</style>
