<template>
    <ingage-form id="ingage-purchase" class="upgrade__form" @submit="handleSubmit">
        <div class="upgrade__content">
            <h3 class="upgrade__title">Enter your information</h3>
            <p class="upgrade__subtitle">We are only able to accept payments from US-based customers at this time. If you are outside the US, please purchase a subscription in your local currency via in-app purchase.</p>
            <div class="upgrade__section">
                <p class="upgrade__step">1. Billing Address</p>
                <div class="upgrade__input-container">
                    <ingage-input
                        name="address-line1"
                        autocomplete="address-line1"
                        placeholder="Billing Address Line 1"
                        v-model.trim="address.line1"
                        :invalid="$v.address.line1.$error"
                        :disabled="disabled"
                        type="text">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.address.line1.$error && !$v.address.line1.required">
                            Billing Address is required
                        </label>
                        <label v-else-if="$v.address.line1.$error && !$v.address.line1.maxLength">
                            Billing Address lines must be under 100 characters long
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--two-thirds">
                    <ingage-input
                        name="address-line2"
                        autocomplete="address-line2"
                        placeholder="Billing Address Line 2"
                        v-model.trim="address.line2"
                        :invalid="$v.address.line2.$error"
                        :disabled="disabled"
                        type="text">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.address.line2.$error && !$v.address.line2.maxLength">
                            Billing Address lines must be under 100 characters long
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--thirds">
                    <ingage-input
                        name="city"
                        autocomplete="address-level2"
                        placeholder="City"
                        v-model.trim="address.city"
                        :invalid="$v.address.city.$error"
                        :disabled="disabled"
                        type="text">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.address.city.$error && !$v.address.city.required">
                            City is required
                        </label>
                        <label v-else-if="$v.address.city.$error && !$v.address.city.maxLength">
                            City must be under 50 characters long
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--thirds">
                    <ingage-dropdown
                        autocomplete="address-level1"
                        :options="stateOptions"
                        v-model="state"
                        :invalid="$v.state.$error"
                        :disabled="disabled">
                    </ingage-dropdown>
                    <div class="upgrade__error">
                        <label v-if="$v.state.$error && !$v.state.required">
                            State is required
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--thirds">
                    <ingage-input
                        name="zip"
                        autocomplete="postal-code"
                        placeholder="Zip Code"
                        v-model.trim="address.zip"
                        :invalid="$v.address.zip.$error"
                        :disabled="disabled"
                        pattern="[\d]{5}(-[\d]{4})?"
                        type="text">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.address.zip.$error && !$v.address.zip.required">
                            Zip code is required
                        </label>
                        <label v-else-if="$v.address.zip.$error && !$v.address.zip.maxLength">
                            Zip code must be under 50 characters long
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--thirds">
                    <ingage-input
                        name="country"
                        autocomplete="country"
                        placeholder="Country"
                        v-model.trim="address.country"
                        :invalid="$v.address.country.$error"
                        type="text"
                        disabled>
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.address.country.$error && !$v.address.country.required">
                            Country is required
                        </label>
                    </div>
                </div>
            </div>
            <div class="upgrade__section">
                <p class="upgrade__step">2. Credit Card Information</p>
                <card v-model="payment" style="display: none;"></card>
                <div class="upgrade__input-container">
                    <ingage-input
                        name="cc-name"
                        autocomplete="cc-name"
                        placeholder="Name On Credit Card"
                        v-model.trim="payment.name"
                        :invalid="$v.payment.name.$error"
                        :disabled="disabled"
                        type="text">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.payment.name.$error && !$v.payment.name.required">
                            Name on card is required.
                        </label>
                        <label v-else-if="$v.payment.name.$error && !$v.payment.name.maxLength">
                            Name on card must be under 100 characters long.
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container">
                    <ingage-input
                        name="cardnumber"
                        placeholder="Credit Card Number"
                        autocomplete="cc-number"
                        v-model="payment.number"
                        :invalid="$v.payment.number.$error"
                        :disabled="disabled"
                        type="tel"
                        pattern="[0-9]*">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.payment.number.$error && !$v.payment.number.required">
                            Card number is required.
                        </label>
                        <label v-else-if="$v.payment.number.$error && !$v.payment.number.validCardNumber">
                            Invalid card number.
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--thirds">
                    <ingage-input
                        name="cc-exp"
                        autocomplete="cc-exp"
                        placeholder="Expiration Date"
                        v-model="payment.expiry"
                        :invalid="$v.payment.expiry.$error"
                        :disabled="disabled"
                        type="tel"
                        pattern="[0-9]*">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.payment.expiry.$error && !$v.payment.expiry.required">
                            Expiration date is required.
                        </label>
                        <label v-else-if="$v.payment.expiry.$error && !$v.payment.expiry.validExpiry">
                            Invalid expiration date.
                        </label>
                    </div>
                </div>
                <div class="upgrade__input-container upgrade__input-container--thirds">
                    <ingage-input
                        name="cvc"
                        autocomplete="cc-csc"
                        placeholder="CVC"
                        v-model="payment.cvc"
                        :invalid="$v.payment.cvc.$error"
                        :disabled="disabled"
                        type="tel"
                        pattern="[0-9]*">
                    </ingage-input>
                    <div class="upgrade__error">
                        <label v-if="$v.payment.cvc.$error && !$v.payment.cvc.required">
                            CVC number is required.
                        </label>
                        <label v-else-if="$v.payment.cvc.$error && !$v.payment.cvc.validCVC">
                            Invalid CVC number.
                        </label>
                    </div>
                </div>
                <div class="upgrade__error upgrade__error--centered" v-if="submitError">
                    <label>
                        {{ submitError }}
                    </label>
                </div>
            </div>
            <p class="upgrade__step">Have a coupon?</p>
            <coupon-form :disabled="disabled"></coupon-form>
            <p class="upgrade__help">
                Have a question or need help? <a href="mailto:support@scrollmotion.com">Send us an email.</a>
            </p>
        </div>
        <slot :progress="progress"></slot>
    </ingage-form>
</template>

<script>
    // dependencies
    import {
        email,
        required,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators';
    import Card from 'vue-credit-card';

    // custom validators
    import {
        oneDigit,
        oneLower,
        oneCap,
        noSpaces,
        validCardNumber,
        validCVC,
        validExpiry
    } from '@/validators';

    // components
    import IngageForm     from '@/components/IngageForm.vue';
    import IngageInput    from '@/components/IngageInput.vue';
    import IngageDropDown from '@/components/IngageDropDown.vue';
    import CouponForm     from '@/components/CouponForm.vue';

    // states config
    import stateOptions from '@/config/stateOptions';

    export default {
        name: 'purchase-upgrade',
        components: {
            'ingage-form':     IngageForm,
            'ingage-input':    IngageInput,
            'ingage-dropdown': IngageDropDown,
            'card':            Card,
            'coupon-form':     CouponForm
        },
        props: {
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data () {
            return {
                stateOptions,
                address: {
                    line1:   '',
                    line2:   '',
                    city:    '',
                    zip:     '',
                    country: 'US'
                },
                payment: {
                    name:   '',
                    number: '',
                    expiry: '',
                    cvc:    ''
                },
                submitError: null,
                progress:    false
            };
        },
        computed: {
            name () {
                const { firstName, lastName } = this.$store.state.user;

                return `${firstName} ${lastName}`;
            },
            email () {
                return this.$store.state.user.email;
            },
            firstName () {
                return this.$store.state.user.firstName;
            },
            lastName () {
                return this.$store.state.user.lastName;
            },
            state: {
                get () {
                    return this.$store.state.workflow.address.state;
                },
                set (state) {

                    this.$store.dispatch('setAddress', { state });
                }
            },
            expMonth () {
                return this.payment.expiry && this.payment.expiry.split('/')[0].trim();
            },
            expYear () {
                return this.payment.expiry && this.payment.expiry.split('/')[1].trim();
            }
        },
        validations: {
            address: {
                line1: {
                    required,
                    maxLength: maxLength(100)
                },
                line2: {
                    maxLength: maxLength(100)
                },
                city: {
                    required,
                    maxLength: maxLength(50)
                },
                zip: {
                    required,
                    maxLength: maxLength(50)
                },
                country: {
                    required,
                    maxLength: maxLength(50)
                }
            },
            payment: {
                name: {
                    required,
                    maxLength: maxLength(100)
                },
                number: {
                    required,
                    validCardNumber
                },
                expiry: {
                    required,
                    validExpiry
                },
                cvc: {
                    required,
                    validCVC
                }
            },
            state: {
                required
            },
            addressGroup: [
                'address.line1',
                'address.line2',
                'address.city',
                'address.zip',
                'address.country',
                'state'
            ],
            paymentGroup: [
                'payment.number',
                'payment.expiry',
                'payment.cvc'
            ]
        },
        methods: {
            toggleProgress () {
                this.progress = !this.progress;
            },
            handleSubmit () {
                // reset errors
                this.submitError = null;

                // validate form
                this.$v.$touch();

                // don't continue if invalid
                if (this.$v.$invalid) return;

                // start button progress indicator
                this.toggleProgress();

                // purchae
                this.purchase()
                .then(this.trackEvent)
                .then(this.success)
                .catch(this.handleError);
            },
            purchase () {
                const {
                    address,
                    state,
                    payment,
                    expMonth,
                    expYear
                } = this;

                const {
                    name,
                    expiry,
                    ...cardDetails
                } = payment;

                this.$store.dispatch('setAddress', {
                    name,
                    ...address,
                    state
                });

                const cardInfo = {
                    name,
                    ...cardDetails,
                    expMonth,
                    expYear
                };

                return this.$store.dispatch('purchase', cardInfo)
                    .then(() => this.$store.dispatch('getMemberships'));
            },
            trackEvent () {
                const { name } = this.$route;
                const properties = {};

                if (name === 'purchase-instants') {
                    properties.product = 'instants';

                    window.dataLayer.push({ 'event': 'completedInstantsPurchase' });

                    mixpanel.track('convert-purchase-from-web', properties);
                    mixpanel.ingage_instants.track('convert-purchase-from-web', properties);
                }

                else {
                    properties.product = 'stories';

                    window.dataLayer.push({ 'event': 'completedStoriesPurchase' });

                    mixpanel.track('convert-purchase-from-web', properties);
                    mixpanel.ingage_stories.track('convert-purchase-from-web', properties);
                }
            },
            success () {
                // navigate to payment page
                this.$router.push({ name: this.$route.meta.success });
            },
            handleError (error) {
                // stop button progress indicator
                this.toggleProgress();

                if (error.message) {
                    this.submitError = error.message;
                }

                else {
                    this.submitError = 'An error has occurred';
                }
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';
    @import '~@/assets/styles/vars';

    .upgrade
        &__form
            max-width 534px
            margin 0 auto
            padding 32px 0

        &__content
            margin-bottom 32px

        &__title
            font-family 'DomaineDisplay-SemiBold'
            font-size 24px
            line-height 40px
            letter-spacing -0.3px
            color dark-grey
            margin-bottom 15px

            @media (min-width: 768px)
                font-size 28px
                line-height 55px

        &__subtitle
            font-family 'Calibre-Regular'
            font-size 15px
            line-height 17px
            color dark-grey
            margin-bottom 24px

        &__section
            padding-bottom 16px

            &::after
                content ""
                clear both
                display table

        &__step
            font-family 'Calibre-Regular'
            font-size 17px
            color dark-grey
            margin-bottom 7px

        &__input-container
            &--two-thirds
                @media (min-width $mq-sm)
                    width calc(66.66666% - 4px)
                    float left

            &--thirds
                width calc(50% - 6px)
                float left

            &--thirds + &--thirds
                margin-left 12px

            &--two-thirds + &--thirds,
            &--two-thirds + &--thirds + &--thirds + &--thirds
                margin-left 0


            @media (min-width $mq-sm)
                &--thirds
                    width calc(33.33333% - 8px)

                &--two-thirds + &--thirds,
                &--two-thirds + &--thirds + &--thirds + &--thirds
                    margin-left 12px

                &--two-thirds + &--thirds + &--thirds
                    margin-left 0

        &__error
            font-family 'Calibre-Regular'
            font-size 10px
            line-height 11px
            letter-spacing -0.1px
            color coral
            height 11px
            margin 1px 0px 7px 13px

            &--centered
                clear both
                text-align center
                margin 1px 0 4px 0

        &__help
            font-size 15px
            font-family 'Calibre-Regular'
            text-align center

            a
                font-family 'Calibre-Medium'
                color #00b090
</style>
