<template>
    <ingage-page>
        <div class="success" v-if="isRegister">
            <welcome-flags></welcome-flags>
            <h1 class="success__title">Welcome!</h1>
            <div class="success__wrapper">
                <corner-burst></corner-burst>
                <div class="success__box" v-if="$route.name === 'register-success-instants'">
                    <h3 class="success__subtitle">You've successfully registered<br/>for a new Ingage Instants account.</h3>
                    <p class="success__text">Your next step is to install<br/>the Ingage Instants app on your iPhone.</p>
                    <ingage-button @click="openInstallTutorial" class="success__button">Show me how</ingage-button>
                </div>
                <div class="success__box" v-else-if="$route.name === 'register-success-stories'">
                    <h3 class="success__subtitle">You've successfully registered<br/>for a new Ingage Stories account.</h3>
                    <p class="success__text">Your next step is to install<br/>the Ingage Stories app on your iPad.</p>
                    <ingage-button @click="openInstallTutorial" class="success__button">Show me how</ingage-button>
                </div>
            </div>
        </div>
        <div class="success" v-else>
            <triangle-doodles></triangle-doodles>
            <h1 class="success__title">All set!</h1>
            <div class="success__wrapper">
                <corner-burst></corner-burst>
                <div class="success__box" v-if="$route.name === 'purchase-success-instants'">
                    <h3 class="success__subtitle">You've successfully purchased<br/>an Ingage Instants subscription.</h3>
                    <p class="success__text">Already got the Ingage Instants app on your iPhone? Open it now to use your newly unlocked features.</p>
                    <p class="success__text">Still need the app? Tap below, install, then log in using the info you used to purchase the subscription.</p>
                    <app-store class="success__app-store" v-if="showAppStore"></app-store>
                    <ingage-button @click="openInstallTutorial" class="success__button" v-else>Show me how</ingage-button>
                </div>
                <div class="success__box" v-if="$route.name === 'purchase-success-stories'">
                    <h3 class="success__subtitle">You've successfully purchased<br/>an Ingage Stories subscription.</h3>
                    <p class="success__text">Already got the Ingage Stories app on your iPad? Open it now to use your newly unlocked features.</p>
                    <p class="success__text">Still need the app? Tap below, install, then log in using the info you used to purchase the subscription.</p>
                    <app-store class="success__app-store" v-if="showAppStore"></app-store>
                    <ingage-button @click="openInstallTutorial" class="success__button" v-else>Show me how</ingage-button>
                </div>
            </div>
        </div>
        <corner-star class="success__corner-star"></corner-star>
    </ingage-page>
</template>

<script>
    import IngagePage from '@/components/IngagePage.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import AppStore from '@/components/AppStore.vue';
    import WelcomeFlags from '@/components/WelcomeFlags.vue';
    import TriangleDoodle from '@/components/TriangleDoodle.vue';
    import CornerBurst from '@/components/CornerBurst.vue';
    import CornerStar from '@/components/CornerStar.vue';

    export default {
        name: 'success',
        components: {
            'ingage-page': IngagePage,
            'ingage-button': IngageButton,
            'app-store': AppStore,
            'welcome-flags': WelcomeFlags,
            'triangle-doodles': TriangleDoodle,
            'corner-burst': CornerBurst,
            'corner-star': CornerStar
        },
        data () {
            return {
                iPad: !!navigator.platform && /iPad/.test(navigator.platform),
                iPhone: !!navigator.platform && /iPhone/.test(navigator.platform),
                installInstants: 'https://instants.zendesk.com/hc/en-us/articles/360002945154',
                installStories: 'https://ingage.zendesk.com/hc/en-us/articles/235286267'
            };
        },
        computed: {
            showAppStore () {
                const { iPad, iPhone } = this;
                const { name } = this.$route;

                return (iPad && name === 'purchase-success-stories') ||
                       (iPhone && name === 'purchase-success-instants');
            },
            isRegister () {
                const { name } = this.$route;

                return name === 'register-success-instants' ||
                       name === 'register-success-stories';
            }
        },
        methods: {
            openInstallTutorial () {
                const { installInstants, installStories } = this;
                const { name } = this.$route;

                if (name === 'register-success-instants' ||
                    name === 'purchase-success-instants') {
                    window.location.href = installInstants;
                }

                else {
                    window.location.href = installStories;
                }
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .success
        padding 42px 0 122px
        text-align center
        color dark-grey

        @media (min-width $mq-md)
            padding 49px 0 122px

        &__title
            font-family 'DomaineDisplay-SemiBold'
            font-size 24px
            margin-bottom 36px

            @media (min-width $mq-md)
                font-size 48px

        &__wrapper
            position relative
            max-width 580px
            margin 0 auto

        &__box
            position relative
            padding 32px 28px
            border-width 1px
            border-style solid
            border-color disabled-grey
            border-radius 12px
            background light-grey

            @media (min-width $mq-md)
                padding 36px

        &__subtitle
            font-family 'Calibre-SemiBold'
            font-size 17px
            line-height 25px
            margin-bottom 16px

            @media (min-width $mq-md)
                font-size 26px
                line-height 32px

        &__text
            font-family 'Calibre-Regular'
            font-size 14px
            line-height 23px

            @media (min-width $mq-md)
                font-size 17px
                line-height 25px
                padding 0 80px

        &__text + &__text
            margin-top 24px

            @media (min-width $mq-md)
                padding 0 60px

        &__app-store
            display block
            margin 24px auto 0

            @media (min-width $mq-md)
                margin 32px auto 0

        &__button&__button
            font-size 16px
            width 150px
            height 49px
            margin 24px auto 0
            color $dark-grey-two

            @media (min-width $mq-md)
                margin 32px auto 0

        &__corner-star
            @media (max-width $mq-md - 1)
                left auto
                right 14%
                bottom 5%

            @media (min-width $mq-xl)
                right 17%
                bottom 5%
</style>
