<template>
    <ingage-nav-page class="payment">
        <ingage-nav slot="nav"></ingage-nav>
        <ingage-form class="payment__form" @submit="handleSubmit">
            <h1 class="payment__title">Complete Purchase</h1>
            <h3 class="payment__subtitle">You're almost done.</h3>
            <p class="payment__description">After you purchase, we'll email you a link to upload photos, videos (if you have them), and information about yourself for a truly custom listing presentation.</p>
            <card v-model="cardDetail" style="display: none;"></card>
            <ingage-input
                name="cc-name"
                class="address__input"
                autocomplete="cc-name"
                placeholder="Name on Credit Card"
                v-model.trim="nameOnCard"
                :invalid="$v.nameOnCard.$error"
                type="text">
            </ingage-input>
            <ingage-input
                name="cardnumber"
                class="payment__input"
                placeholder="Credit Card number"
                autocomplete="cc-number"
                v-model="cardDetail.number"
                :invalid="$v.cardDetail.number.$error"
                type="tel"
                pattern="[0-9]*"
                autofocus>
            </ingage-input>
            <div class="payment__two-container">
                <ingage-input
                    name="cvc"
                    class="payment__input"
                    autocomplete="cc-csc"
                    placeholder="CVC"
                    v-model="cardDetail.cvc"
                    :invalid="$v.cardDetail.cvc.$error"
                    type="tel"
                    pattern="[0-9]*">
                </ingage-input>
                <ingage-input
                    name="cc-exp"
                    class="payment__input"
                    autocomplete="cc-exp"
                    placeholder="Expiration date"
                    v-model="cardDetail.expiry"
                    :invalid="$v.cardDetail.expiry.$error"
                    type="tel"
                    pattern="[0-9]*">
                </ingage-input>
            </div>
            <div class="payment__error">
                <label v-if="$v.nameOnCard.$error && !$v.nameOnCard.required">
                    Name is required
                </label>
                <label v-else-if="$v.nameOnCard.$error && !$v.nameOnCard.maxLength">
                    Name must be under 100 characters long
                </label>
                <label v-else-if="$v.cardDetail.number.$error && !$v.cardDetail.number.required">
                    Card number is required.
                </label>
                <label v-else-if="$v.cardDetail.number.$error && !$v.cardDetail.number.validCardNumber">
                    Invalid card number.
                </label>
                <label v-else-if="$v.cardDetail.cvc.$error && !$v.cardDetail.cvc.required">
                    CVC number is required.
                </label>
                <label v-else-if="$v.cardDetail.cvc.$error && !$v.cardDetail.cvc.validCVC">
                    Invalid CVC number.
                </label>
                <label v-else-if="$v.cardDetail.expiry.$error && !$v.cardDetail.expiry.required">
                    Expiration date is required.
                </label>
                <label v-else-if="$v.cardDetail.expiry.$error && !$v.cardDetail.expiry.validExpiry">
                    Invalid expiration date.
                </label>
                <label v-else-if="error">
                    {{ error }}
                </label>
            </div>
            <ingage-button
                class="payment__submit"
                :disabled="disabled"
                type="submit">
                Purchase
            </ingage-button>
            <return-policy></return-policy>
        </ingage-form>
    </ingage-nav-page>
</template>

<script>
    // dependencies
    import {
        required,
        maxLength
    } from 'vuelidate/lib/validators';
    import Card from 'vue-credit-card';

    // components
    import IngageNavPage from '@/components/IngageNavPage.vue';
    import IngageNav     from '@/components/IngageNav.vue';
    import IngageForm    from '@/components/IngageForm.vue';
    import IngageInput   from '@/components/IngageInput.vue';
    import IngageButton  from '@/components/IngageButton.vue';
    import ReturnPolicy  from '@/components/ReturnPolicy.vue';

    // api
    import payments from '@/api/payments';

    // custom validators
    import {
        validCardNumber,
        validCVC,
        validExpiry
    } from '@/validators';

    export default {
        name: 'payment-form',
        components: {
            'ingage-nav-page': IngageNavPage,
            'ingage-nav':      IngageNav,
            'ingage-form':     IngageForm,
            'ingage-input':    IngageInput,
            'ingage-button':   IngageButton,
            'return-policy':   ReturnPolicy,
            'card':            Card
        },
        data () {
            return {
                nameOnCard: this.$store.state.workflow.address.name,
                cardDetail: {
                    number: '',
                    expiry: '',
                    cvc:    '',
                },
                error:    null,
                disabled: false
            };
        },
        computed: {
            expMonth () {
                return this.cardDetail.expiry && this.cardDetail.expiry.split('/')[0].trim();
            },
            expYear () {
                return this.cardDetail.expiry && this.cardDetail.expiry.split('/')[1].trim();
            }
        },
        validations: {
            nameOnCard: {
                required,
                maxLength: maxLength(100)
            },
            cardDetail: {
                number: {
                    required,
                    validCardNumber
                },
                cvc: {
                    required,
                    validCVC
                },
                expiry: {
                    required,
                    validExpiry
                }
            }
        },
        methods: {
            handleSubmit () {
                this.error = null;

                // validate form
                this.$v.$touch();

                // don't continue if invalid
                if (this.$v.$invalid) return;

                this.disabled = true;

                const {
                    cardDetail,
                    nameOnCard,
                    expMonth,
                    expYear
                } = this;

                const cardInfo = {
                    ...cardDetail,
                    nameOnCard,
                    expMonth,
                    expYear
                };

                this.$store.dispatch('purchase', cardInfo)
                    .then(this.trackEvent)
                    .then(this.finishWorkflow)
                    .catch(this.handleError);
            },
            trackEvent () {
                const properties = {
                    productType: 'listing-presentation'
                };

                // track purhcase event
                mixpanel.track('convert-purchase-from-real-estate', properties);
                mixpanel.ingage_stories.track('convert-purchase-from-real-estate', properties);

                // increment listing presentations purchased count
                mixpanel.ingage_stories.people.increment('listings-purchased');
            },
            finishWorkflow () {
                // show purchase confirmation
                this.$store.dispatch('showPurchaseConfirm');

                // navigato to content
                this.$router.replace({ name: 'content' });
            },
            handleError ({ message }) {
                this.error    = message;
                this.disabled = false;
            }
        },
        created () {
            Stripe.setPublishableKey(window.dashboardConfig.STRIPE_KEY);
        },
        beforeRouteLeave (to, from, next) {
            // stop workflow if navigating away
            this.$store.dispatch('stopWorkflow');

            next();
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';

    .payment__form
        max-width 640px
        padding 48px 0

    .payment__title
        font-family 'Brandon Grotesque Black'
        font-size 14px
        line-height 16px
        letter-spacing 3px
        text-transform uppercase
        color slate-grey
        margin-bottom 32px

    .payment__subtitle
        font-family 'Brandon Grotesque Light'
        font-size 38px
        line-height 64px
        letter-spacing -0.7px
        color charcoal-grey
        margin-bottom 9px

        @media (min-width: 460px)
            font-size 48px

    .payment__description
        font-family Helvetica
        font-size 16px
        line-height 24px
        color charcoal-grey
        margin-bottom 31px

    .payment__input
        margin-bottom: 16px

    .payment__two-container
        @media (min-width: 550px)
            display flex
            justify-content space-between

            .payment__input
                width calc((100% - 16px) / 2)

    .payment__input
        display block
        height 48px
        margin-bottom: 16px
        width 100%

        @media (min-width: 768px)
            max-width 100%

    .payment__error
        font-family Helvetica
        font-size 16px
        line-height 24px
        text-align center
        color coral
        margin-bottom 24px

    .payment__submit
        margin 0 auto
</style>
