<template>
    <div class="app-content">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'app-content'
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .app--realestate
        .app-content
            height 'calc(100% - %s)' % $header-height-realestate-lg
            background-color light-grey-two

            @media (max-width: $mq-sm)
                height 'calc(100% - %s)' % $header-height-realestate-sm

    .app--ingage
        .app-content
            height 'calc(100% - %s)' % $header-height-ingage-sm
            background-color light-grey-three

            @media (min-width: $mq-md)
                height 'calc(100% - %s)' % $header-height-ingage-lg
</style>
