<template>
    <div class="app-header">
        <div class="app-header__content">
            <div class="app-header__logo">
                <div class="app-logo" v-if="appMode === 'ingage'">
                    <img class="app-logo__icon" :src="IngageIcon">
                </div>
                <a class="app-logo" :href="linkUrl" v-else>
                    <img class="app-logo__icon" :src="RealEstateIcon">
                </a>
            </div>
            <div class="app-header__slot">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import IngageIcon from '@/assets/images/IngageLogo_webLarge.svg';
    import RealEstateIcon from '@/assets/images/realestate-logo.png';

    export default {
        name: 'app-header',
        data () {
            return {
                IngageIcon,
                RealEstateIcon,
                linkUrl: window.dashboardConfig.LANDING_URL,
            };
        },
        computed: {
            appMode () {
                return this.$store.state.appMode;
            }
        }
    }
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .app--realestate
        .app-header
            height $header-height-realestate-lg
            background-color charcoal-grey

            @media (max-width: $mq-sm)
                height $header-height-realestate-sm

            &__content
                position relative
                height 100%
                margin 0 auto
                padding 0 16px
                max-width $max-width-realestate

            &__logo
                position absolute
                top 50%
                left 16px
                transform translate(0, -50%)
                width 40px
                overflow hidden

                @media (min-width: $mq-sm)
                    width auto

            &__slot
                display flex
                justify-content flex-end
                height 100%

        .app-logo
            display flex
            align-items center
            text-decoration none

            &__icon
                width auto
                height 40px

            &__title
                font-family 'Brandon Grotesque Light'
                font-size 18px
                line-height 24px
                letter-spacing 2px
                color light-grey
                margin-left 16px

                @media (max-width: $mq-md)
                    display none

    .app--ingage
        .app-header
            height $header-height-ingage-sm
            background-color dark-grey

            &__content
                position relative
                height 100%
                margin 0 auto
                padding 0 20px
                max-width $max-width-ingage

            &__logo
                position absolute
                top 0
                left 50%
                height $header-height-ingage-sm
                transform translate(-50%, 0)

            &__slot
                position absolute
                top 0
                right 20px
                height $header-height-ingage-sm
                display flex

        .app-logo
            &__icon
                height 40px
                width auto
                padding 10px 0

        @media (min-width: $mq-md)
            .app-header
                height $header-height-ingage-lg

                &__logo
                    height $header-height-ingage-lg

                &__slot
                    height $header-height-ingage-lg

            .app-logo
                &__icon
                    height 60px
                    padding 15px 0
</style>
