<template>
    <a href="https://itunes.apple.com/app/ingage-interactive-presentations/id1100355870?mt=8">
        <img :src="appStoreIcon" alt="app store">
    </a>
</template>

<script>
    import appStoreIcon from '@/assets/images/download-on-the-app-store.svg';

    export default {
        name: 'app-store',
        data () {
            return {
                appStoreIcon
            };
        }
    };
</script>
