<template>
    <div class="corner-star">
        <img  class="corner-star__image" :src="cornerStar">
    </div>
</template>

<script>
    import cornerStar from '@/assets/images/cornerstar.png';

    export default {
        name: 'corner-star',
        data () {
            return {
                cornerStar
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'

    .corner-star
        position absolute
        bottom 70px
        left 50%
        transform translateX(-50%)

        @media (min-width $mq-md)
            left auto
            right 5%
            bottom 5%

        @media (min-width $mq-lg)
            bottom 7%

        &__image
            width 28px

            @media (min-width $mq-md)
                width auto
</style>
