<template>
    <div class="corner-burst">
        <img  class="corner-burst__image" :src="cornerBurst">
    </div>
</template>

<script>
    import cornerBurst from '@/assets/images/cornerburst.png';

    export default {
        name: 'corner-burst',
        data () {
            return {
                cornerBurst
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'

    .corner-burst
        display none
        position absolute
        bottom -60px
        left -57.5px

        @media (min-width $mq-md)
            display block
</style>
