<template>
    <ingage-form class="coupon-form" @submit="handleSubmit">
        <div class="coupon-form__input-container">
            <ingage-input
                placeholder="Coupon Code"
                class="coupon-form__input"
                v-model="couponCode"
                :invalid="submitError || $v.couponCode.$error"
                :disabled="applied || disabled"
                type="text">
            </ingage-input>
            <div class="coupon-form__error">
                <label v-if="submitError">
                    {{ submitError }}
                </label>
                <label v-else-if="$v.couponCode.$error">
                    Please enter a coupon code
                </label>
            </div>
        </div>
        <ingage-button
            type="submit"
            class="coupon-form__submit"
            :success="applied"
            :disabled="validating || disabled">
            {{ applied ? 'Applied': 'Apply' }}
        </ingage-button>
    </ingage-form>
</template>

<script>
    // dependencies
    import { required } from 'vuelidate/lib/validators';

    // components
    import IngageForm   from './IngageForm.vue';
    import IngageInput  from './IngageInput.vue';
    import IngageButton from './IngageButton.vue';

    // api
    import payments from '@/api/payments';

    export default {
        name: 'coupon-form',
        components: {
            'ingage-form':   IngageForm,
            'ingage-input':  IngageInput,
            'ingage-button': IngageButton
        },
        props: {
            disabled: {
                type:    Boolean,
                default: false
            }
        },
        data () {
            return {
                couponCode:  '',
                submitError: null,
                validating:  false,
                applied:     false
            }
        },
        validations: {
            couponCode: {
                required
            }
        },
        methods: {
            handleSubmit () {
                const { couponCode } = this;

                // reset submit error message
                this.submitError = null;

                // validate form
                this.$v.$touch();

                // don't continue if invalid
                if (this.$v.$invalid) return;

                // disable form while validating
                this.validating = true;

                payments.validateCoupon(couponCode)
                    .then((response) => {
                        const {
                            valid,
                            amount_off,
                            percent_off
                        } = response;

                        if (valid) {
                            // store coupon code and discounted amount
                            this.$store.dispatch('setDiscount', {
                                couponCode,
                                amount_off,
                                percent_off
                            });

                            // show success
                            this.applied = true;
                        }

                        else {
                            // Show error message and enable form
                            this.submitError = 'Invalid coupon code';
                            this.validating  = false;
                        }
                    })
                    .catch(errorResponse => {
                        // Show error message and enable form
                        this.submitError = 'Invalid coupon code';
                        this.validating  = false;
                    });
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars';
    @import '~@/assets/styles/colors';

    .app--realestate
        .coupon-form
            margin-bottom 16px

            &__error
                font-family Helvetica
                font-size 16px
                line-height 24px
                text-align center
                color coral
                margin 16px 0

            &__submit
                margin 0 auto

            @media (min-width $mq-sm)
                display flex
                justify-content space-between

                &__input-container
                    flex 3 1 0
                    width auto
                    margin-right 16px

                &__error
                    margin 16px 0 0

                &__submit
                    flex 2 0 0
                    width auto

    .app--ingage
        .coupon-form
            margin-bottom 16px

            @media (min-width $mq-sm)
                display flex

            &__input-container
                margin-bottom 8px

                @media (min-width $mq-sm)
                    width calc(100% - 154px)
                    margin-right 12px

            &__error
                font-family 'Calibre-Regular'
                font-size 10px
                line-height 11px
                letter-spacing -0.1px
                color coral
                height 11px
                margin 1px 0px 0px 13px

            &__submit
                height 40px
                width 142px
                border 1px solid #393842
                color #393842
                background #fafaf7
                font-size 14px
                font-family 'Calibre-Medium'
                margin 0 auto
                padding 0
                line-height 1
</style>
