<template>
    <button class="facebook-button" type="button" @click="facebookLogin">
        <div class="facebook-button__content">
            <div class="facebook-button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 216" color="#ffffff">
                    <path fill="#ffffff" d="
                        M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9
                        11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1
                        11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2
                        15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3
                        11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z">
                    </path>
                </svg>
            </div>
            <div class="facebook-button__text">Connect with Facebook</div>
        </div>
    </button>
</template>

<script>
    export default {
        name: 'facebook-button',
        data () {
            return {
                permissions: {
                    scope: 'public_profile, email'
                }
            };
        },
        methods: {
            facebookLogin (evt) {
                evt.preventDefault();

                window.FB.login(response => {
                    const { status } = response;

                    if (status === 'connected') {
                        const { accessToken } = response.authResponse;

                        window.FB.api('/me?fields=email,first_name,last_name', response => {
                            const user = {
                                email:     response.email,
                                firstName: response.first_name,
                                lastName:  response.last_name
                            };

                            this.$emit('success', user, accessToken, 'facebook');
                        });
                    }
                }, this.permissions);
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .facebook-button
        display block
        width 100%
        padding 0
        border none
        outline none
        cursor pointer

        &:hover,
        &:active
            opacity 0.4

        &__content
            display flex
            align-items center

        &__icon
            flex-grow 0

        &__text
            flex-grow 1

    .app--realestate
        .facebook-button
            height 40px
            border-radius 4px
            background-color facebook-blue

            @media (min-width 352px)
                width 320px

            &__icon
                flex-grow 0
                width 40px
                height 40px

                svg
                    width 24px
                    height 24px
                    margin 8px

            &__text
                font-family Helvetica, Arial, sans-serif
                font-size 16px
                letter-spacing 0.25px
                text-align center
                color white-color
                padding-right 12px

    .app--ingage
        .facebook-button
            height 60px
            border-style solid
            border-width 1px
            border-color charcoal-grey-25
            border-radius 12px
            background light-grey

            @media (min-width $mq-md)
                height 72px

            &__icon
                width 36px
                height 36px
                border-radius 8px
                margin 0 14px
                overflow hidden

                svg path
                    fill facebook-blue

            &__text
                font-family Calibre-Regular
                font-size 15px
                letter-spacing -0.2px
                text-align left
                color dark-grey-50
</style>
