<template>
    <ingage-page class="forgot-password">
        <ingage-form class="forgot-password__form" @submit="handleSubmit">
            <h1 class="forgot-password__title">Forgot Password?</h1>
            <div class="forgot-password__instructions">
                <label>Enter the email associated with your Ingage account and we will send an email with a temporary passkey.</label>
            </div>
            <ingage-input
                class="forgot-password__input"
                v-model="credentials.email"
                autocomplete="email"
                placeholder="Email"
                :invalid="$v.credentials.email.$error"
                type="email">
            </ingage-input>
            <div class="forgot-password__error">
                <label v-if="$v.credentials.email.$error && !$v.credentials.email.required">
                    Email is required
                </label>
                <label v-else-if="$v.credentials.email.$error && !$v.credentials.email.email">
                    Please enter a valid email address
                </label>
                <label v-else>{{ formError }}</label>
            </div>
            <ingage-button
                class="forgot-password__submit"
                type="submit">
                Send
            </ingage-button>
        </ingage-form>
    </ingage-page>
</template>

<script>
    // dependencies
    import { email, required } from 'vuelidate/lib/validators';

    // components
    import IngagePage from '@/components/IngagePage.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageInput from '@/components/IngageInput.vue';
    import IngageButton from '@/components/IngageButton.vue';

    export default {
        name: 'forgot-password',
        components: {
            'ingage-page': IngagePage,
            'ingage-form': IngageForm,
            'ingage-input': IngageInput,
            'ingage-button': IngageButton
        },
        data () {
            return {
                credentials: {
                    email: ''
                },
                formError: null
            }
        },
        validations: {
            credentials: {
                email: {
                    email,
                    required
                }
            }
        },
        methods: {
            handleSubmit () {
                // reset form error
                this.formError = null;

                // check validation
                this.$v.$touch();

                // don't continue if invalid
                if (this.$v.$invalid) return;

                this.$auth.requestNewPassword(this.credentials)
                    .then(this.continue)
                    .catch(this.handleError);
            },
            continue () {
                const { email } = this.credentials;

                this.$store.dispatch('setForgotPasswordEmail', email);

                const route = this.$route.meta.reset || 'reset-password';

                this.$router.push({ name: route });
            },
            handleError (response) {
                const body = response.body;
                const code = body.errors[0].code;

                if (code === 'invalid') {
                    this.formError = 'Invalid email'
                }
            }
        }
    }
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .app--realestate
        .forgot-password
            &__form
                max-width 640px
                padding 48px 0

            &__title
                margin-bottom 32px
                font-family 'Brandon Grotesque Black'
                font-size 14px
                line-height 16px
                letter-spacing 3px
                text-transform uppercase
                color slate-grey

            &__instructions
                margin-bottom 24px
                font-family Helvetica
                font-size 16px
                line-height 24px
                color charcoal-grey

            &__input
                margin-bottom: 16px

            &__error
                margin 24px 0
                font-family Helvetica
                font-size 16px
                line-height 24px
                color coral

            &__submit
                @media (max-width 414px)
                    margin 0 auto

    .app--ingage
        .forgot-password
            &__form
                max-width 343px
                margin 0 auto
                padding 48px 0 84px

                @media (min-width $mq-md)
                    padding 158px 0

                @media (min-width $mq-lg)
                    padding 48px 0 84px

            &__title
                font-family 'DomaineDisplay-SemiBold'
                font-size 28px
                line-height 55px
                letter-spacing -0.4px
                text-align center
                color dark-grey
                margin-bottom 16px

                @media (min-width $mq-md)
                    font-size 48px
                    letter-spacing -0.7px
                    margin-bottom 24px

            &__instructions
                font-family 'Calibre-Regular', sans-serif
                font-size 15px
                color dark-grey
                text-align center
                margin-bottom 24px

            &__submit
                font-family 'Calibre-Medium'
                font-size 22px
                letter-spacing -0.2px
                height 60px
                margin 26px 0 24px 0

            &__error
                font-family 'Calibre-Regular'
                font-size 10px
                line-height 11px
                letter-spacing -0.1px
                color coral
                height 11px
                margin 1px 0px 7px 13px
</style>
