<template>
    <button class="google-button" type="button" ref="signinBtn" @click.prevent>
        <div class="google-button__content">
            <div
                class="google-button__icon"
                :style="`background-image: url('${ googleIcon }');`">
            </div>
            <div class="google-button__text">Connect with Google</div>
        </div>
    </button>
</template>

<script>
    // images
    import googleIcon from '@/assets/images/google-icon.png';

    export default {
        name: 'google-button',
        data () {
            return {
                googleIcon
            }
        },
        mounted () {
            window.gapi.load('auth2', () => {
                const auth2 = window.gapi.auth2.init({
                    client_id: window.dashboardConfig.GOOGLE_LOGIN_KEY
                });

                auth2.attachClickHandler(this.$refs.signinBtn, {}, googleUser => {
                    const token = googleUser.getAuthResponse(true).access_token;
                    const email = googleUser.getBasicProfile().getEmail();
                    const name  = googleUser.getBasicProfile().getName();

                    const user = {
                        email,
                        firstName: name.split(' ')[0],
                        lastName:  name.split(' ')[1],
                    };

                    this.$emit('success', user, token, 'google');
                });
            });
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .google-button
        display block
        width 100%
        padding 0
        border none
        outline none
        cursor pointer

        &:hover,
        &:active
            opacity 0.4

        &__content
            display flex
            align-items center

        &__icon
            flex-grow 0
            background-repeat no-repeat
            background-size cover
            background-position center

        &__text
            flex-grow 1

    .app--realestate
        .google-button
            height 40px
            border-radius 4px
            background white-color

            @media (min-width 352px)
                width 320px

            &__icon
                width 32px
                height 32px
                margin 4px

            &__text
                font-family Helvetica, Arial, sans-serif
                font-size 16px
                letter-spacing 0.25px
                color greyish-brown
                text-align center
                padding-right 12px

    .app--ingage
        .google-button
            height 60px
            border-style solid
            border-width 1px
            border-color charcoal-grey-25
            border-radius 12px
            background light-grey

            @media (min-width $mq-md)
                height 72px

            &__icon
                width 36px
                height 36px
                border-radius 8px
                margin 0 14px
                overflow hidden

            &__text
                font-family Calibre-Regular
                font-size 15px
                letter-spacing -0.2px
                text-align left
                color dark-grey-50
</style>
