<template>
    <button
        :class="buttonClasses"
        @click="$emit('click', $event)">
        <ingage-spinner v-if="progress"></ingage-spinner>
        <slot v-else></slot>
    </button>
</template>

<script>
    import IngageSpinner from '@/components/IngageSpinner.vue';

    export default {
        name: 'ingage-button',
        components: {
            'ingage-spinner': IngageSpinner
        },
        computed:  {
            buttonClasses () {
                const { success, progress } = this;

                return {
                    'ingage-button':          true,
                    'ingage-button--success': success,
                };
            }
        },
        props: {
            progress: {
                type: Boolean,
                default: false
            },
            success: {
                type: Boolean,
                default: false
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .ingage-button
        display block
        width 100%
        text-align center
        border none
        outline none
        cursor pointer

    .no-touch .ingage-button
        &:hover,
        &:active
            opacity 0.4

    .ingage-button.ingage-button
        &:disabled
            cursor auto
            background-color disabled-grey

        &:disabled:hover
            opacity 1

    .app--realestate
        .ingage-button
            font-family 'Brandon Grotesque Black'
            font-size 14px
            line-height 48px
            letter-spacing 3px
            height 48px
            border-radius 4px
            text-transform uppercase
            color white-color
            background dark-sky-blue

            &.ingage-button--success
                background-color success-green

            @media (min-width 352px)
                width 320px

    .app--ingage
        .ingage-button
            font-family 'Calibre-Medium'
            font-size 22px
            color dark-grey
            background $aquamarine-95
            border-radius 12px
</style>
