<template>
    <textarea
        :class="textAreaClasses"
        :value="value"
        @input="$emit('input', $event.target.value)">
    </textarea>
</template>

<script>
    export default {
        name: 'ingage-textarea',
        computed: {
            textAreaClasses () {
                return {
                    'ingage-textarea':          true,
                    'ingage-textarea--invalid': this.invalid
                }
            }
        },
        props: {
            value: {
                type: String
            },
            invalid: {
                type:    Boolean,
                default: false
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .ingage-textarea
        font-family HelveticaNeue, Helvetica
        font-size 16px
        line-height 24px
        letter-spacing -0.3px
        color greyish-brown
        padding 10px 20px
        border none
        outline none
        border-radius 4px
        resize none

        &:focus
            border 1px solid dark-sky-blue

        &--invalid
            border 1px solid coral !important
</style>
