<template>
    <div :class="ingageNavPageClasses">
        <div class="ingage-nav-page__nav">
            <slot name="nav"></slot>
        </div>
        <div class="ingage-nav-page__content">
            <div class="ingage-nav-page__container">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ingage-page',
        computed: {
            ingageNavPageClasses () {
                return {
                    'ingage-nav-page': true,
                    'ingage-nav-page--expanded': this.expanded
                };
            },
            expanded () {
                return this.$store.state.headerExpanded;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .ingage-nav-page
        height 100%

        &__nav
            height 0px
            overflow hidden
            background-color slate-grey
            transition height 0.2s

        &--expanded &__nav
            height $nav-height-realestate

        &__content
            height 100%
            transition height 0.2s
            overflow-y scroll
            -webkit-overflow-scrolling touch

        &--expanded &__content
            height "calc(100% - %s)" % $nav-height-realestate

        &__container
            max-width $max-width-realestate
            margin 0 auto
            padding 0 16px
</style>
