<template>
    <div class="ingage-spinner">
        <ingage-progress
            :radius="10"
            :stroke-width="3"
            :progress="75">
        </ingage-progress>
    </div>
</template>

<script>
    import IngageProgress from '@/components/IngageProgress.vue';

    export default {
        name: 'ingage-spinner',
        components: {
            'ingage-progress': IngageProgress
        },
    };
</script>

<style lang="stylus">
    .ingage-spinner
        width 23px
        margin 0 auto

        .ingage-progress
            will-change transform
            animation spin 1.1s linear infinite

    @keyframes spin
        from
            transform rotate(0deg)
        to
            transform rotate(360deg)
</style>
