<template>
    <form
        class="ingage-form"
        @submit.prevent="handleSubmit"
        novalidate>
        <slot></slot>
    </form>
</template>

<script>
    export default {
        name: 'ingage-form',
        methods: {
            handleSubmit () {
                this.$emit('submit');
            }
        }
    };
</script>
