<template>
    <label class="ingage-error">
        <slot></slot>
    </label>
</template>

<script>
    export default {
        name: 'ingage-error'
    };
</script>

<style lang="stylus">
    .ingage-error
        font-family Helvetica
        font-size 12px
        letter-spacing -0.2px
        padding-left 16px
        color coral
</style>
