<template>
    <div :class="dropDownClasses">
        <select
            v-model="selected"
            :disabled="disabled"
            :autocomplete="autocomplete"
            class="ingage-dropdown__select">
            <option
                v-for="option in options"
                :value="option.value"
                v-bind="option.attributes">
                {{ option.display }}
            </option>
        </select>
    </div>
</template>

<script>
    export default {
        name: 'ingage-dropdown',
        computed: {
            dropDownClasses () {
                return {
                    'ingage-dropdown':          true,
                    'ingage-dropdown--invalid': this.invalid,
                    'ingage-dropdown--disabled': this.disabled
                };
            },
            selected: {
                get () {
                    return this.value;
                },
                set (value) {
                    this.$emit('input', value);
                }
            }
        },
        props: {
            options: {
                type:    Array,
                default: []
            },
            value: {
                type:    String,
                default: null
            },
            invalid: {
                type:    Boolean,
                default: false
            },
            disabled: {
                type:    Boolean,
                default: false
            },
            autocomplete: {
                type:    String,
                default: 'off'
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .ingage-dropdown
        position relative

        &:before
            position absolute
            bottom 52%
            right 13px
            font-size 8px
            content '▲'
            pointer-events none

        &:after
            position absolute
            top 52%
            right 13px
            font-size 8px
            content '▼'
            pointer-events none

        &__select
            padding 0 13px
            -webkit-appearance none
            -moz-appearance none
            cursor pointer

            &::-ms-expand
                display none

            &::-ms-value
                background transparent

            &:disabled
                cursor initial

        &--invalid &__select
            border 1px solid coral !important

        &--disabled
            opacity 0.6

    .app--realestate
        .ingage-dropdown
            &__select
                font-family HelveticaNeue, Helvetica
                font-size 16px
                line-height 32px
                letter-spacing -0.3px
                border-radius 4px
                color rgba(0, 0, 0, 0)
                text-shadow 0 0 0 greyish-brown
                background white
                width 100%
                height 48px
                border none
                outline none

                option
                    color greyish-brown

                &::-ms-value
                    color greyish-brown

                &:focus
                    border 1px solid dark-sky-blue

    .app--ingage
        .ingage-dropdown
            &__select
                font-family 'Calibre-Regular'
                font-size 14px
                letter-spacing -0.3px
                border-radius 12px
                color rgba(0, 0, 0, 0)
                text-shadow 0 0 0 dark-grey
                background light-grey
                width 100%
                height 40px
                border solid 1px charcoal-grey-25
                outline none

                option
                    color dark-grey

                &::-ms-value
                    color dark-grey

                &:focus
                    border 1px solid $aquamarine
</style>
