<template>
    <div class="ingage-scrim">
        <div class="ingage-modal">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ingage-modal'
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';
    @import '~@/assets/styles/vars';

    .ingage-scrim
        position fixed
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(0, 0, 0, 0.6)
        display flex
        justify-content center
        align-items center
        z-index 5

    .ingage-modal
        width 100%
        height 100%
        max-height 100%
        overflow-y auto

        @media (min-width $mq-sm+1)
            width auto
            height auto
</style>
