<template>
    <div class="ingage-smiley">
        <div class="ingage-smiley__layer ingage-smiley__layer--third"></div>
        <div class="ingage-smiley__layer ingage-smiley__layer--second"></div>
        <div class="ingage-smiley__layer ingage-smiley__layer--first"></div>
        <div class="ingage-smiley__eye ingage-smiley__eye--left"></div>
        <div class="ingage-smiley__eye ingage-smiley__eye--right"></div>
        <div class="ingage-smiley__mouth"></div>
    </div>
</template>

<script>
    export default {
        name: 'ingage-smiley'
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .ingage-smiley
        position relative
        width 5.375em
        height 4.625em

        &__layer
            position absolute
            background-color dark-sky-blue
            border-radius 0.09375em

            &--third
                top 0
                left 0.4375em
                width 4.5em
                height 3.375em
                opacity 0.3

            &--second
                top 0.1875em
                left 0.25em
                width 4.875em
                height 3.625em
                opacity 0.7

            &--first
                top 0.5em
                left 0px
                width 5.375em
                height 4.125em

        &__eye
            position absolute
            width 0.625em
            height 0.625em
            border-radius 50%
            background-color charcoal-grey

            &--left
                top 1.4375em
                left 1.625em

            &--right
                top 1.4375em
                right 1.625em

        &__mouth
            position absolute
            left 1.625em
            bottom 0.9375em
            width 2.125em
            height 1.0625em
            border-bottom-left-radius 2.125em
            border-bottom-right-radius 2.125em
            background-color charcoal-grey
</style>
