<template>
    <button class="ingage-close" @click.prevent="handleClick"></button>
</template>

<script>
    export default {
        name: 'ingage-close',
        methods: {
            handleClick () {
                this.$emit('click');
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors';

    .ingage-close
        position relative
        width 14px
        height 14px
        padding 0
        border none
        outline none
        cursor pointer
        background-color transparent

        &:before, &:after
            content ''
            position absolute
            top 50%
            left 0
            width 15px
            border 1px solid slate-grey

        &:before
            transform rotate(45deg)

        &:after
            transform rotate(-45deg)
</style>
