<template>
    <div class="ingage-checkbox">
        <input :id="id" type="checkbox" :checked="value" @change="$emit('input', $event.target.checked)">
        <label :for="id"></label>
    </div>
</template>

<script>
    export default {
        name: 'ingage-checkbox',
        data () {
            return {
                id: null
            }
        },
        props: {
            value: {
                type: Boolean,
                default: false
            }
        },
        mounted () {
            this.id = this._uid
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .ingage-checkbox
        position relative
        width 38px
        height 38px

        input
            opacity 0

        label
            cursor pointer
            -webkit-tap-highlight-color rgba(0, 0, 0, 0)

        label:before,
        label:after
            content ''
            display inline-block
            position absolute

        label:before
            top 0
            left 0
            width 38px
            height 38px
            border-radius 10px
            background $tealish

        label:after
            top 12px
            left 11px
            height 10px
            width 16px
            border-left 3px solid dark-grey
            border-bottom 3px solid dark-grey
            transform rotate(-45deg)

        input + label:before
            background disabled-grey

        input + label:after
            content none

        input:checked + label:before
            background $tealish

        input:checked + label:after
            content ''

    .app--realestate
        .ingage-checkbox
            label:before
                border-radius 4px

            input:checked + label:before
                background dark-sky-blue
</style>
