<template>
    <ul class="ingage-nav">
        <li class="ingage-nav__item">
            <router-link
                class="ingage-nav__link"
                active-class="ingage-nav__link--active"
                :to="{ name: 'content' }">
                My Projects
            </router-link>
        </li>
        <li class="ingage-nav__item">
            <router-link
                class="ingage-nav__link"
                active-class="ingage-nav__link--active"
                :to="{ name: 'profile' }">
                My Profile
            </router-link>
        </li>
        <li class="ingage-nav__item">
            <a @click.prevent="handleLogout" class="ingage-nav__link" href="#">Log out</a>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'ingage-nav',
        methods: {
            handleLogout () {
                this.$auth.logout();
            }
        },
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .ingage-nav
        max-width $max-width-realestate
        height 100%
        margin 0 auto
        padding 0 16px
        display flex
        justify-content flex-end
        align-items center

        &__item + &__item
            margin-left 24px

        &__link
            display block
            padding 8px 0
            font-family Brandon Grotesque Regular
            font-size 18px
            line-height 16px
            letter-spacing 0.5px
            text-decoration none
            color white

            &--active
                border-bottom 1.5px solid white
</style>
