<template>
    <div class="ingage-progress">
        <svg
            class="ingage-progress__dial"
            xmlns="http://www.w3.org/2000/svg"
            :height="radius * 2 + strokeWidth"
            :width="radius * 2 + strokeWidth"
            :viewBox="viewBox">
            <circle
                class="ingage-progress__remaining"
                :r="radius"
                :cx="radius + strokeWidth / 2"
                :cy="radius + strokeWidth / 2"
                fill="transparent"
                :stroke-width="strokeWidth"
                :stroke-dasharray="circumference"
                stroke-dashoffset="0"
            />
            <circle
                class="ingage-progress__progress"
                :r="radius"
                :cx="radius + strokeWidth / 2"
                :cy="radius + strokeWidth / 2"
                fill="transparent"
                :stroke-width="strokeWidth"
                :stroke-dasharray="circumference"
                :stroke-dashoffset="strokeDashoffset"
            />
        </svg>
    </div>
</template>

<script>
    export default {
        name: 'ingage-progress',
        props: {
            radius: {
                type: Number,
                default: 64
            },
            strokeWidth: {
                type: Number,
                default: 12
            },
            progress: {
                type: Number,
                default: 0
            }
        },
        computed: {
            viewBox () {
                const { radius, strokeWidth } = this;

                return `0 0 ${radius * 2 + strokeWidth} ${radius * 2 + strokeWidth}`
            },
            circumference () {
                const { radius } = this;

                return Math.PI * (radius * 2);
            },
            strokeDashoffset () {
                const { progress, circumference } = this;

                return (100 - progress) / 100 * circumference;
            }
        }
    };
</script>

<style lang="stylus">
    $remaining-color = rgba(74, 74, 74, 0.3)
    $progress-color = rgba(74, 74, 74, 0.8)

    .ingage-progress
        display flex
        align-items center
        justify-content center

        &__dial
            transform rotate(-90deg)
            overflow visible

        &__remaining
            stroke $remaining-color 

        &__progress
            stroke $progress-color
</style>
