<template>
    <div class="ingage-page">
        <div class="ingage-page__content">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ingage-page'
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'

    .ingage-page
        height 100%
        overflow-y scroll
        -webkit-overflow-scrolling touch

        &__content
            position relative
            min-height 100%
            margin 0 auto

    .app--realestate
        .ingage-page
            &__content
                max-width $max-width-realestate
                padding 0 16px

    .app--ingage
        .ingage-page
            &__content
                padding 0 20px
</style>
