<template>
    <input
        :class="inputClasses"
        :value="value"
        @input="$emit('input', $event.target.value)">
</template>

<script>
    export default {
        name: 'ingage-input',
        computed: {
            inputClasses () {
                return {
                    'ingage-input':          true,
                    'ingage-input--invalid': this.invalid
                }
            }
        },
        props: {
            value: {
                type: String
            },
            invalid: {
                type: Boolean,
                default: false
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .ingage-input
        display block
        font-family HelveticaNeue, Helvetica
        font-size 16px
        line-height 32px
        letter-spacing -0.3px
        width 100%
        height 48px
        border none
        outline none

        &:disabled
            opacity 0.6

        &--invalid
            border 1px solid coral !important

    .app--realestate
        .ingage-input
            padding 0 20px
            border-radius 4px
            color greyish-brown

            &::placeholder
                color greyish-brown-60

            &:focus
                border 1px solid dark-sky-blue

    .app--ingage
        .ingage-input
            height 40px
            font-size 15px
            padding 0 13px
            font-family 'Calibre-Regular'
            border solid 1px charcoal-grey-25
            border-radius 12px
            color dark-grey
            background light-grey
            -webkit-appearance: none;

            &::placeholder
                color dark-grey-50

            &:focus
                border 1px solid $aquamarine
</style>
