<template>
    <ingage-page class="reset-password">
        <ingage-form class="reset-password__form" @submit="handleSubmit">
            <h1 class="reset-password__title">Reset Password</h1>
            <div class="reset-password__instructions">
                <label>Enter the temporary password sent to your email account.</label>
            </div>
            <ingage-input
                class="reset-password__input"
                v-model="credentials.passkey"
                placeholder="Temporary Passkey"
                :invalid="$v.credentials.passkey.$error"
                type="password">
            </ingage-input>
            <ingage-input
                class="reset-password__input"
                v-model="credentials.password"
                placeholder="New Password"
                :invalid="$v.credentials.password.$error"
                type="password">
            </ingage-input>
            <div class="reset-password__instructions">
                <label>1 cap letter&nbsp;&nbsp;1 lower letter&nbsp;&nbsp;1 digit&nbsp;&nbsp;8 to 30 characters</label>
            </div>
            <div class="reset-password__error">
                <label v-if="$v.credentials.passkey.$error">
                    Passkey is required
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.required">
                    Password is required
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneCap">
                    Password must contain at least one upper case character
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneLower">
                    Password must contain at least one lower case character
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneDigit">
                    Password must contain at least one digit
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.noSpaces">
                    Password must not contain white spaces
                </label>
                <label v-else-if="$v.credentials.password.$error && (!$v.credentials.password.minLength || !$v.credentials.password.maxLength)">
                    Password must be between 8 and 30 characters in length
                </label>
                <label v-else>{{ formError }}</label>
            </div>
            <ingage-button
                class="reset-password__submit"
                type="submit">
                Reset
            </ingage-button>
        </ingage-form>
    </ingage-page>
</template>

<script>
    // dependencies
    import {
        required,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators';

    // custom validators
    import {
        oneDigit,
        oneLower,
        oneCap,
        noSpaces
    } from '../validators';

    // components
    import IngagePage from '@/components/IngagePage.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageInput from '@/components/IngageInput.vue';
    import IngageButton from '@/components/IngageButton.vue';

    export default {
        name: 'reset-password',
        components: {
            'ingage-page': IngagePage,
            'ingage-form': IngageForm,
            'ingage-input': IngageInput,
            'ingage-button': IngageButton
        },
        data () {
            return {
                credentials: {
                    email:    this.$store.state.forgot.email,
                    passkey:  '',
                    password: ''
                },
                formError: null
            }
        },
        validations: {
            credentials: {
                passkey: {
                    required
                },
                password: {
                    required,
                    minLength: minLength(8),
                    maxLength: maxLength(30),
                    oneDigit,
                    oneLower,
                    oneCap,
                    noSpaces
                }
            }
        },
        methods: {
            handleSubmit () {
                // reset form error
                this.formError = null;

                // check validation
                this.$v.$touch();

                // don't continue if invalid
                if (this.$v.$invalid) return;

                this.$auth.resetPassword(this.credentials)
                    .then(this.continue)
                    .catch(this.handleError);
            },
            continue () {
                this.$store.dispatch('clearForgotPasswordEmail');

                const route = this.$route.meta.login || 'login';

                this.$router.push({ name: route });
            },
            handleError (error) {
                const { detail, errors } = error.body;

                this.formError = detail;

                if (errors && errors[0] && errors[0].field) {
                    const { field } = errors[0];

                    this.formError += ` Invalid ${field.charAt(0).toUpperCase() + field.slice(1)}.`;
                }
            }
        }
    }
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .reset-password
        &__title
            margin-bottom 32px

        &__instructions
            margin-bottom 24px

        &__input
            margin-bottom: 16px

        &__error
            margin 24px 0
            font-family Helvetica
            font-size 16px
            line-height 24px
            color coral

    .app--realestate
        .reset-password
            &__form
                max-width 640px
                padding 48px 0

            &__title
                font-family 'Brandon Grotesque Black'
                font-size 14px
                line-height 16px
                letter-spacing 3px
                text-transform uppercase
                color slate-grey

            &__instructions
                font-family Helvetica
                font-size 16px
                line-height 24px
                color charcoal-grey

            &__submit
                @media (max-width 414px)
                    margin 0 auto

    .app--ingage
        .reset-password
            &__form
                max-width 343px
                margin 0 auto
                padding 48px 0 84px

                @media (min-width $mq-md)
                    padding 158px 0

                @media (min-width $mq-lg)
                    padding 48px 0 84px

            &__title
                font-family 'Brandon Grotesque Black'
                font-size 48px
                line-height 55px
                letter-spacing -0.7px
                text-align center

            &__instructions
                font-family 'Calibre-Regular', sans-serif
                font-size 15px
                color dark-grey
                text-align center
                margin-bottom 24px

            &__submit
                font-family 'Calibre-Medium'
                font-size 22px
                letter-spacing -0.2px
                height 60px
                margin 26px 0 24px 0

            &__error
                text-align center
</style>
