<template>
    <div class="return-policy__container">
        <p>
            <a class="return-policy__button" @click="handleClick">
                Refund Policy
            </a>
        </p>
        <p class="return-policy__text"
            v-bind:class="{ 'return-policy__text--hidden': hide }" >
            Our goal is to provide high-quality, professional service to all of our clients. We will work hard to make sure you are satisfied with your final listing, but if at any time during the design process you are not satisfied with the progression of your listing or the service being delivered, we offer a full refund guarantee. Please note that refunds cannot be made after your final approval has been received.
        </p>
    </div>
</template>

<script>
    export default {
        name: 'refund-policy',
        data () {
            return {
                hide: true
            };
        },
        methods: {
            handleClick () {
                this.hide = !this.hide;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .return-policy
        &__container
            text-align center
            font-size 16px

        &__button
            cursor pointer
            user-select none

            @media (hover none)
                  opacity 1

        &__text
            text-align left
            line-height 16px
            font-size 12px
            margin-top 24px
            padding 0 24px
            height auto
            visibility visible
            user-select none

            &--hidden
                visibility hidden

    .app--realestate
        .return-policy
            &__container
                margin-top 24px

            &__button
                font-family Helvetica
                color dark-sky-blue

            &__text
                font-family Helvetica-Light

    .app--ingage
        .return-policy
            &__container
                text-align center
                font-size 15px

            &__button
                font-family 'Calibre-Medium'
                color $green-blue

            &__text
                font-family 'Calibre-Regular'
</style>