<template>
    <ingage-modal>
        <div class="signup-modal">
            <ingage-form @submit="handleContinue">
                <h1 class="signup-modal__title">Sign up</h1>
                <div class="checkbox-group">
                    <h3 class="checkbox-group__title">Your information</h3>
                    <ingage-checkbox class="checkbox-group__checkbox" v-model="updates"></ingage-checkbox>
                    <p v-if="$route.name === 'register'" class="checkbox-group__text">By creating an account with Ingage, I agree to the <a href="https://ingage.io/privacy-policy" target="_blank">Privacy Policy</a> and <a href="https://ingage.io/ingage-eula" target="_blank">End-User License Agreement</a>, and grant permission to be contacted via email about product and service updates. Ingage Stories for Real Estate is only available for purchase in the US.</p>
                    <p v-else-if="$route.name === 'register-instants'" class="checkbox-group__text">By creating an account for Ingage Instants, I agree to the <a href="https://ingage.io/privacy-policy" target="_blank">Privacy Policy</a> and <a href="https://ingage.io/ingage-eula" target="_blank">End-User License Agreement</a>, and grant permission to be contacted via email about product and service updates.</p>
                    <p v-else class="checkbox-group__text">By creating an account for Ingage Stories, I agree to the <a href="https://ingage.io/privacy-policy" target="_blank">Privacy Policy</a> and <a href="https://ingage.io/ingage-eula" target="_blank">End-User License Agreement</a>, and grant permission to be contacted via email about product and service updates.</p>
                    <label class="checkbox-group__label">Required for signup</label>
                </div>
                <div class="checkbox-group" v-if="$route.name !== 'register'">
                    <h3 class="checkbox-group__title">Let's keep in touch</h3>
                    <ingage-checkbox class="checkbox-group__checkbox" v-model="education"></ingage-checkbox>
                    <p v-if="$route.name === 'register-instants'" class="checkbox-group__text">Help me get started with Instants with great educational content from the customer success team.</p>
                    <p v-else class="checkbox-group__text">Help me get started with Stories with great educational content from the customer success team.</p>
                    <label class="checkbox-group__label">Optional</label>
                </div>
                <ingage-button class="signup-modal__button" :disabled="!updates">Continue</ingage-button>
                <a @click.prevent="handleCancel" class="signup-modal__cancel" href="#">Cancel</a>
            </ingage-form>
        </div>
    </ingage-modal>
</template>

<script>
    import IngageModal from '@/components/IngageModal.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageCheckbox from '@/components/IngageCheckbox.vue';
    import IngageButton from '@/components/IngageButton.vue';

    export default {
        name: 'signup-modal',
        components: {
            'ingage-modal': IngageModal,
            'ingage-form': IngageForm,
            'ingage-checkbox': IngageCheckbox,
            'ingage-button': IngageButton
        },
        data () {
            return {
                updates: false,
                education: false
            };
        },
        methods: {
            handleContinue () {
                this.$emit('continue', this.education);
            },
            handleCancel () {
                this.$emit('cancel');
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .signup-modal
        width 100%
        min-height 100%
        padding 48px 20px 38px
        background-color light-grey

        @media (min-width $mq-sm+1)
            width 383px
            min-height auto
            border-radius 12px
            padding 48px 20px 52px

        &__form
            max-width 343px
            margin 0 auto

        &__title
            font-family DomaineDisplay-SemiBold
            font-size 36px
            letter-spacing -0.4px
            text-align center
            color dark-grey
            margin-bottom 30px

        &__button
            height 60px
            margin 50px auto 32px

            @media (min-width $mq-sm+1)
                margin 30px auto 32px

        &__cancel
            display block
            font-family Calibre-Medium
            font-size 22px
            text-align center
            color dark-grey
            text-decoration none

    .app--realestate .signup-modal
        background-color light-grey

        @media (min-width $mq-md+1)
            border-radius 12px

        &__title
            font-family Brandon Grotesque Light
            font-size 48px
            line-height 64px
            letter-spacing -0.7px

        &__button
            width 100%

        &__cancel
            font-family 'Brandon Grotesque Black'
            font-size 14px
            letter-spacing 3px
            text-transform uppercase

    .checkbox-group
        font-family Calibre-Regular
        color charcoal-grey
        margin-bottom 30px

        @media (min-width $mq-sm+1)
            margin-bottom 20px

        &__title
            font-family Calibre-Medium
            font-size 18px
            margin-bottom 10px

        &__checkbox
            float left
            margin-top 2px

        &__text
            font-size 18px
            line-height 22px
            margin-left 53px
            margin-bottom 5px

        &__text a
            color $green-blue

        &__label
            display inline-block
            font-size 15px
            color #AAA
            margin-left 53px

    .app--realestate .checkbox-group
        font-family Helvetica, Ariel, sans-serif

        &__title
            font-family Brandon Grotesque Medium

        &__text a
            color dark-sky-blue
</style>
