<template>
    <div class="social-login">
        <facebook-button @success="handleTokenSuccess"></facebook-button>
        <google-button @success="handleTokenSuccess"></google-button>
        <ingage-modal v-if="showModal">
            <div class="social-login__modal">
                <ingage-form class="social-login__form" @submit="handleFormSubmit">
                    <h1 class="social-login__title">Log in with {{ backend | capitalize }}</h1>
                    <p class="social-login__description">You already have an Ingage account for {{ user.email }}</p>
                    <ingage-input
                        v-if="promptPassword"
                        name="password"
                        class="social-login__input"
                        placeholder="Password*"
                        autocomplete="current-password"
                        v-model.trim="password"
                        :invalid="!!errorMessage"
                        type="password">
                    </ingage-input>
                    <div class="social-login__error">
                        <label v-if="errorMessage">{{ errorMessage }}</label>
                    </div>
                    <ingage-button
                        class="social-login__button"
                        type="submit"
                        :disabled="submitDisabled">
                        Add {{ backend | capitalize }} Log in
                    </ingage-button>
                    <ingage-button
                        @click="handleCloseModal"
                        class="social-login__button">
                        Cancel
                    </ingage-button>
                </ingage-form>
            </div>
        </ingage-modal>
    </div>
</template>

<script>
    // dependencies
    import {
        required,
        minLength,
        maxLength
    } from 'vuelidate/lib/validators';

    // custom validators
    import {
        oneDigit,
        oneLower,
        oneCap,
        noSpaces
    } from '../validators';

    // components
    import FacebookButton from '@/components/FacebookButton.vue';
    import GoogleButton   from '@/components/GoogleButton.vue';
    import IngageModal    from '@/components/IngageModal.vue';
    import IngageForm     from '@/components/IngageForm.vue';
    import IngageInput    from '@/components/IngageInput.vue';
    import IngageButton   from '@/components/IngageButton.vue';

    export default {
        name: 'social-login',
        components: {
            'facebook-button': FacebookButton,
            'google-button':   GoogleButton,
            'ingage-modal':    IngageModal,
            'ingage-form':     IngageForm,
            'ingage-input':    IngageInput,
            'ingage-button':   IngageButton
        },
        props: {
            isRegister: {
                type: Boolean,
                default: false
            }
        },
        data () {
            return {
                user:            null,
                token:           null,
                backend:         null,
                password:        null,
                showModal:       false,
                errorMessage:    null,
                passwordInvalid: true,
                promptPassword:  true
            }
        },
        watch: {
            password (newPassword, oldPassword) {
                this.$v.$touch();

                this.passwordInvalid = this.$v.$invalid;
            }
        },
        computed: {
            submitDisabled () {
                const { passwordInvalid, promptPassword } = this;

                return passwordInvalid && promptPassword;
            }
        },
        validations: {
            password: {
                required,
                minLength: minLength(8),
                maxLength: maxLength(30),
                oneDigit,
                oneLower,
                oneCap,
                noSpaces
            }
        },
        methods: {
            handleTokenSuccess (user, token, backend) {
                this.user    = user;
                this.token   = token;
                this.backend = backend;

                if (this.isRegister) {
                    return this.$emit('signup');
                }

                this.socialAuth();
            },
            socialAuth () {
                const { user, token, backend } = this;

                this.$auth.socialAuth(user, token, backend)
                    .then(() => this.$emit('success'))
                    .catch(this.handleSocialAuthError);
            },
            handleFormSubmit () {
                const { user, token, backend, password } = this;

                this.errorMessage = null;

                this.$auth.socialAuth(user, token, backend, true, password)
                    .then(() => this.$emit('success'))
                    .catch(this.handleError)
            },
            handleSocialAuthError (response) {
                const body = response.body;
                const code = body.code;

                // User has signed up using default registration,
                // and attempts social login for the first time.
                // prompt for password and merge accounts.
                if (code === '604') {
                    this.promptPassword = true;
                    this.showModal      = true;
                }

                // User signed up using a different social backend
                // merge new social back end account.
                else if (code === '606') {
                    this.promptPassword  = false;
                    this.showModal       = true;
                }
            },
            handleError (response) {
                const body = response.body;
                const code = body.code;

                // User entered invalid password
                if (code === '605') {
                    this.errorMessage = body.detail;
                }

                // different unknown error
                else {
                    this.errorMessage = 'An error occurred.';
                }
            },
            handleCloseModal (evt) {
                evt.preventDefault();

                this.showModal = false;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .app--realestate .social-login
        &__modal
            width 100%
            min-height 100%
            padding 24px
            background-color light-grey

            @media (min-width $mq-sm+1)
                width 383px
                min-height auto
                border-radius 12px
                padding 48px 20px 52px
                border-radius 12px

        &__form
            margin 0 auto

        &__title
            font-family Brandon Grotesque Light
            font-size 36px
            line-height 64px
            letter-spacing -0.7px
            color charcoal-grey
            margin-bottom 12px

        &__description
            font-family Helvetica, Ariel, sans-serif
            font-size 16px
            line-height 24px
            color charcoal-grey
            margin-bottom 24px

        &__input
            margin-bottom 24px

        &__error
            font-family Helvetica
            font-size 16px
            line-height 24px
            text-align center
            margin-bottom 24px
            color coral

        &__button
            width 100%
            margin 0 auto 12px

    .app--ingage .social-login
        &__modal
            width 100%
            min-height 100%
            padding 48px 20px 122px
            background-color light-grey-three

            @media (min-width $mq-sm+1)
                width 383px
                min-height auto
                border-radius 12px

        &__form
            max-width 343px
            margin 0 auto

        &__title
            font-family DomaineDisplay-SemiBold
            font-size 28px
            line-height 55px
            letter-spacing -0.4px
            text-align center
            color dark-grey
            margin-bottom 16px

        &__description
            font-family Calibre-Regular
            font-size 17px
            color dakr-grey
            text-align center
            margin-bottom 16px

        &__error
            font-family Calibre-Regular
            font-size 10px
            line-height 11px
            letter-spacing -0.1px
            color coral
            height 11px
            margin 1px 0 34px 13px

        &__button
            font-family Calibre-Medium
            font-size 22px
            letter-spacing -0.2px
            height 60px
</style>
