<template>
    <div class="star-doodles">
        <img  class="star-doodles__image" :src="starDoodle">
    </div>
</template>

<script>
    import starDoodle from '@/assets/images/stardoodle.png';

    export default {
        name: 'star-doodles',
        data () {
            return {
                starDoodle
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'

    .star-doodles
        position absolute
        top 0
        left 72%

        &__image
            width 38px

            @media (min-width $mq-md)
                width auto
</style>
