<template>
    <div class="triangle-doodles">
        <img  class="triangle-doodles__image" :src="triangleDoodle">
    </div>
</template>

<script>
    import triangleDoodle from '@/assets/images/triangledoodle.png';

    export default {
        name: 'triangle-doodles',
        data () {
            return {
                triangleDoodle
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'

    .triangle-doodles
        position absolute
        top 13px
        left 52%

        &__image
            width 80px

            @media (min-width $mq-md)
                width auto
</style>
