<template>
    <div class="welcome-flags">
        <img class="welcome-flags__image" :src="welcomeFlags">
    </div>
</template>

<script>
    import welcomeFlags from '@/assets/images/welcomeflags.png';

    export default {
        name: 'welcome-flags',
        data () {
            return {
                welcomeFlags
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'

    .welcome-flags
        position absolute
        top -18px
        left 50%
        transform translateX(-50%)

        @media (min-width $mq-md)
            top -28px

        &__image
            width 138px

            @media (min-width $mq-md)
                width 200px
</style>
