<template>
    <div class="confirm">
        <ingage-smiley class="confirm__smiley"></ingage-smiley>
        <p class="confirm__message">You have successfully purchased an Ingage Listing Presentation for $299. We sent a confirmation email to {{ email }} with instructions for uploading your content so that our designers can get to work!</p>
        <ingage-close
            @click="close"
            class="confirm__close">
        </ingage-close>
        <div>
            <!-- send google adwords event -->
            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/907954632/?label=2lhaCI7XynsQyJP5sAM&amp;guid=ON&amp;script=0" />
                </div>
            </noscript>
            <!-- send linkedin ads  event -->
            <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=168402&conversionId=267234&fmt=gif" />
        </div>
    </div>
</template>

<script>
    // components
    import IngageSmiley from '@/components/IngageSmiley.vue';
    import IngageClose from '@/components/IngageClose.vue';

    export default {
        name: 'confirm',
        components: {
            'ingage-smiley': IngageSmiley,
            'ingage-close': IngageClose
        },
        created () {
            // Send listing presentation purchase event
            window.fbq = window.fbq || function () {};
            window.uetq = window.uetq || [];

            // Send facebook pixel event
            window.fbq('track', 'Purchase');

            // Send google tag manager event
            window.dataLayer.push({ 'event': 'listing-presentation-purchase' });

            // Send google adwords analytics
            window.google_conversion_id    = 907954632;
            window.google_conversion_label = "2lhaCI7XynsQyJP5sAM";
            window.google_remarketing_only = false;

            const adwordsScript = document.createElement('script');
            adwordsScript.setAttribute('src', '//www.googleadservices.com/pagead/conversion.js');
            document.body.appendChild(adwordsScript);

            // Send bing ads event
            window.uetq.push({ 'ec': 'listing-presentation', 'ea': 'purchase'});
        },
        computed: {
            email () {
                return this.$store.state.user.email;
            }
        },
        methods: {
            close () {
                this.$store.dispatch('hidePUrchaseConfirm');
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .confirm
        min-height 80px
        padding 16px 0
        border-radius 2px
        background-color light-grey-two
        overflow hidden

        .confirm__close
            position absolute
            top 0
            right 0
            margin 16px

        .confirm__smiley
            position absolute
            font-size 0.67em
            top 16px
            left 0
            right 0
            margin auto

            @media( min-width 688px)
                top 50%
                left 16px
                transform translateY(-50%)
                right auto

    .confirm__message
        padding 58px 16px 0 16px
        font-family Helvetica
        font-size 16px
        line-height 24px
        color charcoal-grey
        height 100%

        @media( min-width 688px)
            padding 0 32px 0 91px

</style>
