<template>
    <div class="dashboard-content">
        <div class="dashboard-content__header">
            <transition name="slide">
                <confirm
                    v-if="confirm"
                    class="dashboard-content__confirm">
                </confirm>
            </transition>
            <h1 class="dashboard-content__title">My Projects</h1>
        </div>
        <div class="dashboard-content__content">
            <story
                v-for="content in contents"
                :key="content.id"
                :url="content.url"
                :name="content.name"
                :thumbnail="content.thumbnail"
                :expires="content.expires"
                :status="content.status">
            </story>
            <listing
                v-for="listing in listings"
                :key="listing.id"
                :id="listing.id"
                :name="listing.name"
                :image="listing.image"
                :status="listing.status"
                :created="listing.created">
            </listing>
            <placeholder :first="listings.length === 0"></placeholder>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    import Confirm     from '@/components/dashboard/content/Confirm.vue';
    import Placeholder from '@/components/dashboard/content/Placeholder.vue';
    import Story       from '@/components/dashboard/content/Story.vue';
    import Listing     from '@/components/dashboard/content/Listing.vue';

    export default {
        name: 'dashboard-content',
        components: {
            Confirm,
            Placeholder,
            Story,
            Listing
        },
        computed: {
            confirm () {
                return this.$store.state.purchaseConfirm;
            },
            contents () {
                return this.$store.state.contents;
            },
            listings () {
                return this.$store.state.listings;
            }
        }
    }
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .dashboard-content
        min-height 100%

        &__confirm
            position relative
            max-width 1024px
            margin-bottom 24px

            &.slide-enter, &.slide-leave-to
                height 0px
                margin-bottom 0

            &.slide-to, &.slide-leave
                height 80px
                margin-bottom 24px

            &.slide-enter-active, &.slide-leave-active
                transition: height 0.1s ease

        &__header
            max-width 352px
            margin 0 auto
            padding 48px 16px 24px

            @media( min-width 688px)
                max-width 688px

            @media (min-width 1024px)
                max-width 1024px

        &__title
            font-family 'Brandon Grotesque Black'
            font-size 14px
            line-height 16px
            letter-spacing 3px
            text-transform uppercase
            color slate-grey

        &__content
            max-width 352px
            margin 0 auto
            padding 0 8px
            display flex
            flex-wrap wrap

            @media( min-width 688px)
                max-width 688px

            @media (min-width 1024px)
                max-width 1024px
</style>
