<template>
    <a class="download-ingage" :href="itunesUrl" target="_blank">
        <div class="download-ingage__smiley-wrapper">
            <ingage-smiley></ingage-smiley>
        </div>
        <div class="download-ingage__text-wrapper">
            <h3 class="download-ingage__title">Welcome, {{ firstName }}!</h3>
            <p class="download-ingage__subtitle">Download Ingage and get started now</p>
        </div>
    </a>
</template>

<script>
    import IngageSmiley from '@/components/IngageSmiley.vue';

    export default {
        name: 'download-ingage',
        components: {
            'ingage-smiley': IngageSmiley
        },
        data () {
            return {
                itunesUrl: 'https://itunes.apple.com/us/app/ingage-interactive-presentations/id1100355870?mt=8'
            };
        },
        computed: {
            firstName () {
                return this.$store.state.user.firstName;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .download-ingage
        width 320px
        height 320px
        background-color white
        margin 0 8px 16px
        text-decoration none

        &:hover, &:active
            opacity 1
            box-shadow 0 16px 24px rgba(0, 0, 0, 0.1)

    .download-ingage__smiley-wrapper
        height 240px
        background-color light-grey-two
        display flex
        justify-content center
        align-items center

    .download-ingage__text-wrapper
        height 80px
        padding 16px 20px
        font-family Helvetica
        color charcoal-grey
        display flex
        flex-direction column
        justify-content center

    .download-ingage__title
        font-size 16px
        font-weight bold
        line-height 24px

    .download-ingage__subtitle
        font-size 14px
        line-height 16px
</style>
