<template>
    <div :class="listingClasses" @click.prevent="handleClick">
        <div
            class="listing__image"
            :style="`background-image: url('${ thumbnail }');`">
            <plus-sign v-if="status === 'created'"></plus-sign>
        </div>
        <div class="listing__text-wrapper">
            <h3 class="listing__title">{{ title }}</h3>
            <p class="listing__subtitle">{{ subtitle }}</p>
        </div>
    </div>
</template>

<script>
    // images
    import houseThumbnail from '@/assets/images/house@2x.png';

    // components
    import PlusSign from '@/components/dashboard/content/PlusSign.vue';

    export default {
        name: 'listing',
        components: {
            'plus-sign': PlusSign
        },
        props: [
            'id',
            'name',
            'image',
            'status',
            'created'
        ],
        computed: {
            thumbnail () {
                const { image } = this;

                return image ? image : houseThumbnail;
            },
            title () {
                const { status, name } = this;

                return status === 'created' ? 'Create your listing presentation' : name;
            },
            subtitle () {
                const { status, created } = this;

                return status === 'created' ? 'Click "+" to begin' : `Created ${created || ''}`;
            },
            listingClasses () {
                return {
                    'listing':       true,
                    'listing--link': this.status === 'created'
                };
            }
        },
        methods: {
            handleClick () {
                const { status } = this;

                if (status === 'created') {
                    this.startPayment();
                }
            },
            startPayment () {
                const listingId = this.id;

                // set this listing's ID
                this.$store.dispatch('setListingId', listingId)

                // navigate to payment
                this.$router.push({ name: 'address' });
            },
            startForm () {
                const listingId = this.id;

                this.$router.push({ name: 'form', params: { listingId } });
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .listing
        width 320px
        height 320px
        background-color white
        margin 0 8px 16px
        text-decoration none

        &--link
            cursor pointer

        &:hover
            opacity 1
            box-shadow 0 16px 24px rgba(0, 0, 0, 0.1)

    .listing__image
        height 240px
        background-color light-grey-two
        background-repeat no-repeat
        background-size cover
        background-position center
        display flex
        justify-content center
        align-items center

    .listing__text-wrapper
        height 80px
        padding 16px 20px
        color charcoal-grey

    .listing__title
        font-family HelveticaNeue-Bold, Helvetica
        font-weight bold
        font-size 16px
        line-height 24px

    .listing__subtitle
        font-family HelveticaNeue, Helvetica
        font-size 14px
        line-height 16px
</style>
