<template>
    <router-link class="placeholder" :to="{ name: 'address' }">
        <div class="placeholder__plus-wrapper">
            <plus-sign></plus-sign>
        </div>
        <div class="placeholder__text-wrapper">
            <h3 class="placeholder__title" v-if="first">Welcome, {{ firstName }}!</h3>
            <h3 class="placeholder__title" v-else>Welcome back, {{ firstName }}!</h3>
            <p class="placeholder__subtitle" v-if="first">Create your first listing presentation</p>
            <p class="placeholder__subtitle" v-else>Purchase a new listing presentation</p>
        </div>
    </router-link>
</template>

<script>
    // components
    import PlusSign from '@/components/dashboard/content/PlusSign.vue';

    export default {
        name: 'placeholder',
        components: {
            'plus-sign': PlusSign,
        },
        props: {
            first: {
                type: Boolean,
                default: true
            }
        },
        computed: {
            firstName () {
                return this.$store.state.user.firstName;
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .placeholder
        width 320px
        height 320px
        background-color white
        margin 0 8px 16px
        text-decoration none

        &:hover, &:active
            opacity 1
            box-shadow 0 16px 24px rgba(0, 0, 0, 0.1)

    .placeholder__plus-wrapper
        height 240px
        background-color light-grey-two
        display flex
        justify-content center
        align-items center

    .placeholder__text-wrapper
        height 80px
        padding 16px 20px
        font-family Helvetica
        color charcoal-grey
        display flex
        flex-direction column
        justify-content center

    .placeholder__title
        font-size 16px
        font-weight bold
        line-height 24px

    .placeholder__subtitle
        font-size 14px
        line-height 16px
</style>
