<template>
    <div class="plus-sign">
        <div class="plus-sign__circle">
            <div class="plus-sign__plus"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'plus-sign'
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .plus-sign
        width 100%
        height 100%
        background-color dark-sky-blue
        display flex
        justify-content center
        align-items center

    .plus-sign__circle
        width  113px
        height 113px
        border-radius 50%
        background-color light-grey
        display flex
        justify-content center
        align-items center

    .plus-sign__plus
        position relative
        width 32px
        height 32px

        &:before, &:after
            content ''
            position absolute
            top 50%
            left 50%
            width 32px
            border 2px solid dark-sky-blue

        &:before
            transform translate(-50%, -50%) rotate(90deg)

        &:after
            transform translate(-50%, -50%)
</style>
