<template>
    <a class="story" :href="url" target="_blank">
        <div class="story__image" :style="thumbnail ? `background-image: url('${ thumbnail }');` : null">
            <ingage-smiley v-if="!thumbnail"></ingage-smiley>
        </div>
        <div class="story__text-wrapper">
            <h3 class="story__title">{{ name }}</h3>
            <p :class="subtitleClass">{{ subtitle }}</p>
        </div>
    </a>
</template>

<script>
    import IngageSmiley from '@/components/IngageSmiley.vue';

    export default {
        name: 'story',
        components: {
            'ingage-smiley': IngageSmiley
        },
        props: [
            'url',
            'name',
            'thumbnail',
            'expires',
            'status'
        ],
        computed: {
            subtitle () {
                const { status, expires } = this;

                if (!status) return;

                if (status === 'active') {
                    return `Expires ${expires}`;
                }

                else {
                    return `Expired ${expires}`;
                }
            },
            subtitleClass () {
                return {
                    'story__subtitle': true,
                    'story__subtitle--expired': this.status !== 'active'
                }
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors.styl'

    .story
        width 320px
        height 320px
        background-color white
        margin 0 8px 16px
        text-decoration: none;

        &:hover
            opacity 1
            box-shadow 0 16px 24px rgba(0, 0, 0, 0.1)

    .story__image
        height 240px
        background-color light-grey-two
        background-repeat no-repeat
        background-size cover
        background-position center
        display flex
        justify-content center
        align-items center

    .story__text-wrapper
        height 80px
        padding 16px 20px
        color charcoal-grey

    .story__title
        font-family HelveticaNeue-Bold, Helvetica
        font-weight bold
        font-size 16px
        line-height 24px

    .story__subtitle
        font-family HelveticaNeue, Helvetica
        font-size 14px
        line-height 16px

        &--expired
            color coral
</style>
