<template>
    <div class="login-header">
        <p>Need an account?</p>
        <router-link class="login-header__link" :to="{ name: 'register' }">Register</router-link>
    </div>
</template>

<script>
    export default {
        name: 'login-header',
        data () {
            return {
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .login-header
        display flex
        align-items center
        font-family Helvetica
        font-size 16px
        line-height 16px
        letter-spacing 0.4px
        color white

    .login-header__link
        font-family Helvetica-Bold, Helvetica
        text-decoration none
        color dark-sky-blue-two
        margin-left 6px
</style>
