<template>
    <ingage-page class="login">
        <ingage-form class="login__form" @submit="handleSubmit">
            <h1 class="login__title">Login</h1>
            <ingage-input
                name="email"
                class="login__input"
                placeholder="Email"
                autocomplete="username"
                v-model.trim="credentials.username"
                :invalid="$v.credentials.username.$error"
                type="email"
                v-focus>
            </ingage-input>
            <ingage-input
                name="password"
                class="login__input"
                placeholder="Password"
                autocomplete="current-password"
                v-model.trim="credentials.password"
                :invalid="$v.credentials.password.$error"
                type="password">
            </ingage-input>
            <div class="login__error" v-if="$v.$error || submitError">
                <label v-if="$v.credentials.username.$error && !$v.credentials.username.required">
                    Email is required
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.email">
                    Please enter a valid email address
                </label>
                <label v-else-if="$v.credentials.password.$error">
                    Password is required
                </label>
                <label v-else-if="submitError">
                    {{ submitError }}
                </label>
            </div>
            <p class="login__forgot">
                <router-link :to="{ name: 'forgot-password' }">Forgot password?</router-link>
            </p>
            <ingage-button class="login__submit" type="submit">
                Log In
            </ingage-button>
            <social-login class="login__social" @success="redirect"></social-login>
            <p class="login__register">Need an account? <router-link :to="{ name: 'register', query: $route.query }">Register</router-link></p>
        </ingage-form>
    </ingage-page>
</template>

<script>
    // parent
    import Login from '@/components/login/Login.vue';

    // components
    import IngagePage from '@/components/IngagePage.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageInput from '@/components/IngageInput.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import SocialLogin from '@/components/SocialLogin.vue';

    export default {
        name: 'login-ingage',
        extends: Login,
        components: {
            'ingage-page': IngagePage,
            'ingage-form': IngageForm,
            'ingage-input': IngageInput,
            'ingage-button': IngageButton,
            'social-login': SocialLogin
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .app--realestate .login
        &__form
            max-width 640px
            padding 48px 0

        &__title
            font-family 'Brandon Grotesque Black'
            font-size 14px
            line-height 16px
            letter-spacing 3px
            text-transform uppercase
            color slate-grey
            margin-bottom 32px

        &__input
            display block
            margin-bottom 16px

            + .login__input
                margin-bottom 24px

        &__error
            margin 24px 0
            font-family Helvetica
            font-size 16px
            line-height 24px
            color coral

        &__forgot,
        &__register
            font-family Helvetica
            font-size 14px
            line-height 16px
            letter-spacing 0.4px
            margin-bottom 24px

            @media (max-width 414px)
                text-align center

        &__forgot a,
        &__register a
            font-family Helvetica-Bold, Helvetica
            color dark-sky-blue
            text-decoration none

        &__submit
            margin-bottom 24px

            @media (max-width 414px)
                margin 0 auto 24px

        &__social
            margin-bottom 24px

            button
                @media (max-width 414px)
                    margin 0 auto

                + button
                    margin-top 12px
</style>
