<template>
    <ingage-page class="login">
        <ingage-form class="login__form" @submit="handleSubmit">
            <star-doodle></star-doodle>
            <h1 class="login__title">Log in</h1>
            <social-login class="login__social" @success="redirect"></social-login>
            <ingage-input
                name="email"
                class="login__input"
                placeholder="Email"
                autocomplete="username"
                v-model.trim="credentials.username"
                :invalid="$v.credentials.username.$error"
                type="email">
            </ingage-input>
             <div class="login__error">
                <label v-if="$v.credentials.username.$error && !$v.credentials.username.required">
                    Email is required
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.email">
                    Please enter a valid email address
                </label>
            </div>
            <ingage-input
                name="password"
                class="login__input"
                placeholder="Password"
                autocomplete="current-password"
                v-model.trim="credentials.password"
                :invalid="$v.credentials.password.$error"
                type="password">
            </ingage-input>
            <div class="login__error">
                <label v-if="$v.credentials.password.$error">
                    Password is required
                </label>
            </div>
            <p class="login__forgot">
                <router-link :to="{ name: $route.meta.forgot }">Forgot password?</router-link>
            </p>
            <ingage-button
                class="login__submit"
                type="submit">
                Log in with email
            </ingage-button>
            <div class="login__error login__error--centered">
                <label v-if="submitError">
                    {{ submitError }}
                </label>
            </div>
            <p class="login__create">
                Don't have an account? <router-link :to="{ name: $route.meta.register, query: $route.query }">Create</router-link> a free one.
            </p>
        </ingage-form>
        <corner-star></corner-star>
    </ingage-page>
</template>

<script>
    // parent
    import Login from '@/components/login/Login.vue';

    // components
    import IngagePage from '@/components/IngagePage.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageInput from '@/components/IngageInput.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import SocialLogin from '@/components/SocialLogin.vue';
    import StarDoodle from '@/components/StarDoodle.vue';
    import CornerStar from '@/components/CornerStar.vue';

    export default {
        name: 'login-ingage',
        extends: Login,
        components: {
            'ingage-page': IngagePage,
            'ingage-form': IngageForm,
            'ingage-input': IngageInput,
            'ingage-button': IngageButton,
            'social-login': SocialLogin,
            'star-doodle': StarDoodle,
            'corner-star': CornerStar
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .app--ingage .login
        &__form
            max-width 343px
            margin 0 auto
            padding 48px 0 122px

            @media (min-width $mq-md)
                padding 158px 0

            @media (min-width $mq-lg)
                padding 48px 0 84px

        &__title
            font-family 'DomaineDisplay-SemiBold'
            font-size 28px
            line-height 55px
            letter-spacing -0.4px
            text-align center
            color dark-grey
            margin-bottom 16px

            @media (min-width $mq-md)
                font-size 48px
                letter-spacing -0.7px
                margin-bottom 24px

        &__social
            margin-bottom 28px

            @media (min-width $mq-md)
                margin-bottom 32px

            button + button
                margin-top 12px

        &__rules
            font-family 'Calibre-Regular'
            font-size 12px
            letter-spacing -0.2px
            color $steel

        &__error
            font-family 'Calibre-Regular'
            font-size 10px
            line-height 11px
            letter-spacing -0.1px
            color coral
            height 11px
            margin 1px 0 7px 13px

            &--centered
                text-align center
                margin 1px 0 12px 0

                @media (min-width $mq-md)
                    margin 1px 0 20px 0

        &__forgot
            font-family 'Calibre-Regular', sans-serif
            font-size 15px
            text-align center
            margin-top 12px;
            margin-bottom 24px

        &__forgot a
            color $green-blue

        &__submit
            font-family 'Calibre-Medium'
            font-size 22px
            letter-spacing -0.2px
            height 60px

        &__create
            font-family 'Calibre-Regular', sans-serif
            font-size 15px
            color dark-grey
            text-align center

        &__create a
            font-family 'Calibre-Medium', 'Calibre', sans-serif
            color $green-blue
</style>
