<template>
    <div class="register-header">
        <p>Already have an account?</p>
        <router-link class="register-header__link" :to="{ name: 'login' }">Login</router-link>
    </div>
</template>

<script>
    export default {
        name: 'register-header',
        data () {
            return {
            };
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .register-header
        display flex
        align-items center
        font-family Helvetica
        font-size 16px
        line-height 16px
        letter-spacing 0.4px
        color white

    .register-header__link
        font-family Helvetica-Bold, Helvetica
        text-decoration none
        color dark-sky-blue-two
        margin-left 6px
</style>
