<template>
    <ingage-page class="register">
        <signup-modal @continue="handleContinueSignup" @cancel="handleCancelSignup" v-if="showSignupModal"></signup-modal>
        <ingage-form class="register__form" @submit="handleSubmit">
            <h1 class="register__title">Register</h1>
            <ingage-input
                name="name"
                class="register__input"
                autocomplete="name"
                placeholder="Name*"
                v-model.trim="credentials.name"
                :invalid="$v.credentials.name.$error"
                type="text"
                v-focus>
            </ingage-input>
            <ingage-input
                name="email"
                class="register__input"
                placeholder="Email*"
                autocomplete="email"
                v-model.trim="credentials.username"
                :invalid="$v.credentials.username.$error"
                type="email">
            </ingage-input>
            <ingage-input
                name="password"
                class="register__input"
                placeholder="Password*"
                autocomplete="new-password"
                v-model="credentials.password"
                :invalid="$v.credentials.password.$error"
                type="password">
            </ingage-input>
            <div class="register__password-rules">
                <label>1 cap letter&nbsp;&nbsp;1 lower letter&nbsp;&nbsp;1 digit&nbsp;&nbsp;8 to 30 characters</label>
            </div>
            <div class="register__form-error">
                <label v-if="$v.credentials.name.$error">
                    Name is required
                </label>
                <label v-else-if="$v.firstName.$error">
                    First name must be under 35 characters long
                </label>
                <label v-else-if="$v.lastName.$error">
                    Last name must be under 35 characters long
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.required">
                    Email is required
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.email">
                    Please enter a valid email address
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.maxLength">
                    Email must be under 254 characters long
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.required">
                    Password is required
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneCap">
                    Password must contain at least one upper case character
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneLower">
                    Password must contain at least one lower case character
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneDigit">
                    Password must contain at least one digit
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.noSpaces">
                    Password must not contain white spaces
                </label>
                <label v-else-if="$v.credentials.password.$error && (!$v.credentials.password.minLength || !$v.credentials.password.maxLength)">
                    Password must be between 8 and 30 characters in length
                </label>
                <label v-else-if="submitError">
                    {{ submitError }}
                </label>
            </div>
            <ingage-button
                class="register__submit"
                type="submit">
                Create Account
            </ingage-button>
            <social-login
                class="register__social"
                ref="socialLogin"
                :isRegister="true"
                @signup="handleSocialSignup"
                @success="handleSocialLogin">
            </social-login>
            <p class="register__login">Already have an account? <router-link :to="{ name: 'login', query: $route.query }">Login</router-link></p>
        </ingage-form>
    </ingage-page>
</template>

<script>
    // parent
    import Register from '@/components/register/Register.vue';

    // components
    import IngagePage from '@/components/IngagePage.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageInput from '@/components/IngageInput.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import SocialLogin from '@/components/SocialLogin.vue';
    import SignupModal from '@/components/SignupModal.vue';

    export default {
        name: 'register-realestate',
        extends: Register,
        components: {
            'ingage-page': IngagePage,
            'ingage-form': IngageForm,
            'ingage-input':  IngageInput,
            'ingage-button': IngageButton,
            'social-login':  SocialLogin,
            'signup-modal': SignupModal
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'

    .app--realestate .register
        &__form
            max-width 640px
            padding 48px 0

        &__title
            font-family 'Brandon Grotesque Black'
            font-size 14px
            line-height 16px
            letter-spacing 3px
            text-transform uppercase
            color slate-grey
            margin-bottom 32px

        &__input
            display block
            margin-bottom 16px

        &__password-rules
            margin 9px 0 15px 0
            font-family Helvetica
            font-size 16px
            line-height 24px
            color charcoal-grey

        &__form-error
            margin 24px 0
            font-family Helvetica
            font-size 16px
            line-height 24px
            color coral

        &__submit
            margin-bottom 24px

            @media (max-width 414px)
                margin 0 auto 24px


        &__social
            margin-bottom 24px

            button
                @media (max-width 414px)
                    margin 0 auto

                + button
                    margin-top 12px

        &__login
            font-family Helvetica
            font-size 14px
            line-height 16px
            letter-spacing 0.4px
            margin-bottom 24px

            @media (max-width 414px)
                text-align center

        &__login a
            font-family Helvetica-Bold, Helvetica
            color dark-sky-blue
            text-decoration none
</style>
