<template>
    <ingage-page class="register">
        <signup-modal @continue="handleContinueSignup" @cancel="handleCancelSignup" v-if="showSignupModal"></signup-modal>
        <ingage-form class="register__form" @submit="handleSubmit">
            <star-doodle></star-doodle>
            <h1 class="register__title">Sign Up</h1>
            <social-login
                class="register__social"
                ref="socialLogin"
                :isRegister="true"
                @signup="handleSocialSignup"
                @success="handleSocialLogin">
            </social-login>
            <ingage-input
                name="name"
                class="register__input"
                autocomplete="name"
                placeholder="Name*"
                v-model.trim="credentials.name"
                :invalid="$v.credentials.name.$error"
                type="text">
            </ingage-input>
            <div class="register__error">
                <label v-if="$v.credentials.name.$error">
                    Name is required
                </label>
                <label v-else-if="$v.firstName.$error">
                    First name must be under 35 characters long
                </label>
                <label v-else-if="$v.lastName.$error">
                    Last name must be under 35 characters long
                </label>
            </div>
            <ingage-input
                name="email"
                class="register__input"
                placeholder="Email*"
                autocomplete="email"
                v-model.trim="credentials.username"
                :invalid="$v.credentials.username.$error"
                type="email">
            </ingage-input>
            <div class="register__error">
                <label v-if="$v.credentials.username.$error && !$v.credentials.username.required">
                    Email is required
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.email">
                    Please enter a valid email address
                </label>
                <label v-else-if="$v.credentials.username.$error && !$v.credentials.username.maxLength">
                    Email must be under 254 characters long
                </label>
            </div>
            <ingage-input
                name="password"
                class="register__input"
                placeholder="Password*"
                autocomplete="new-password"
                v-model="credentials.password"
                :invalid="$v.credentials.password.$error"
                type="password">
            </ingage-input>
            <div class="register__error">
                <label v-if="$v.credentials.password.$error && !$v.credentials.password.required">
                    Password is required
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneCap">
                    Password must contain at least one upper case character
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneLower">
                    Password must contain at least one lower case character
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.oneDigit">
                    Password must contain at least one digit
                </label>
                <label v-else-if="$v.credentials.password.$error && !$v.credentials.password.noSpaces">
                    Password must not contain white spaces
                </label>
                <label v-else-if="$v.credentials.password.$error && (!$v.credentials.password.minLength || !$v.credentials.password.maxLength)">
                    Password must be between 8 and 30 characters in length
                </label>
                <label v-else class="no-error">1 cap letter   1 lower letter   1 digit   8 characters</label>
            </div>
            <ingage-dropdown
                name="industry"
                class="register__input"
                :options="industryOptions"
                v-model="industry">
            </ingage-dropdown>
            <ingage-button
                class="register__submit"
                type="submit">
                Sign up with email
            </ingage-button>
            <div class="login__error login__error--centered">
                <label v-if="submitError">
                    {{ submitError }}
                </label>
            </div>
            <p class="register__login">
                Already have an account? <router-link :to="{ name: $route.meta.login, query: $route.query }">Login to Upgrade.</router-link>
            </p>
        </ingage-form>
        <corner-star></corner-star>
    </ingage-page>
</template>

<script>
    // parent
    import Register from '@/components/register/Register.vue';

    // components
    import IngagePage from '@/components/IngagePage.vue';
    import IngageForm from '@/components/IngageForm.vue';
    import IngageInput from '@/components/IngageInput.vue';
    import IngageDropDown from '@/components/IngageDropDown.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import SocialLogin from '@/components/SocialLogin.vue';
    import SignupModal from '@/components/SignupModal.vue';
    import StarDoodle from '@/components/StarDoodle.vue';
    import CornerStar from '@/components/CornerStar.vue';

    export default {
        name: 'register-ingage',
        extends: Register,
        components: {
            'ingage-page': IngagePage,
            'ingage-form': IngageForm,
            'ingage-input':  IngageInput,
            'ingage-dropdown': IngageDropDown,
            'ingage-button': IngageButton,
            'social-login':  SocialLogin,
            'signup-modal': SignupModal,
            'star-doodle': StarDoodle,
            'corner-star': CornerStar
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/colors'
    @import '~@/assets/styles/vars'

    .app--ingage .register
        &__form
            max-width 343px
            margin 0 auto
            padding 48px 0 122px

            @media (min-width $mq-md)
                padding 158px 0

            @media (min-width $mq-lg)
                padding 48px 0 84px

        &__title
            font-family 'DomaineDisplay-SemiBold'
            font-size 28px
            line-height 55px
            letter-spacing -0.4px
            text-align center
            color dark-grey
            margin-bottom 16px

            @media (min-width $mq-md)
                font-size 48px
                letter-spacing -0.7px
                margin-bottom 24px

        &__social
            margin-bottom 28px

            @media (min-width $mq-md)
                margin-bottom 32px

            button + button
                margin-top 12px

        &__rules
            font-family 'Calibre-Regular'
            font-size 12px
            letter-spacing -0.2px
            color $steel

        &__error
            font-family 'Calibre-Regular'
            font-size 10px
            line-height 11px
            letter-spacing -0.1px
            color coral
            height 11px
            margin 1px 0px 7px 13px

            >.no-error
                color $steel
                white-space pre

            &--centered
                text-align center
                margin 1px 0 12px 0

                @media (min-width $mq-md)
                    margin 1px 0 20px 0

        &__submit
            font-family 'Calibre-Medium'
            font-size 22px
            letter-spacing -0.2px
            height 60px
            margin-top 34px

        &__login
            font-family 'Calibre-Regular', sans-serif
            font-size 15px
            color dark-grey
            text-align center

        &__login a
            font-family 'Calibre-Medium', 'Calibre', sans-serif
            color $green-blue
</style>
