<template>
    <ingage-page>
        <div class="subscribed">
            <triangle-doodles></triangle-doodles>
            <h1 class="subscribed__title">Good news!</h1>
            <div class="subscribed__wrapper">
                <corner-burst></corner-burst>
                <div class="subscribed__box" v-if="$route.name === 'purchase-subscribed-instants'">
                    <h3 class="subscribed__subtitle">It looks like you’ve already<br/>subscribed to Ingage Instants.</h3>
                    <p class="subscribed__text">If you want to purchase a second subscription for business or personal use, log in using a different account or create a new one.</p>
                    <p class="subscribed__text">Your subscription supports the latest version of the app with its amazing new features, so you’re good to go.</p>
                    <app-store class="subscribed__app-store" v-if="showAppStore"></app-store>
                    <ingage-button @click="openInstallTutorial" class="subscribed__button" v-else>Show me how</ingage-button>
                </div>
                <div class="subscribed__box" v-if="$route.name === 'purchase-subscribed-stories'">
                    <h3 class="subscribed__subtitle">It looks like you’ve already<br/>subscribed to Ingage Stories.</h3>
                    <p class="subscribed__text">If you want to purchase a second subscription for business or personal use, log in using a different account or create a new one.</p>
                    <p class="subscribed__text">Your subscription supports the latest version of the app with its amazing new features, so you’re good to go.</p>
                    <app-store class="subscribed__app-store" v-if="showAppStore"></app-store>
                    <ingage-button @click="openInstallTutorial" class="subscribed__button" v-else>Show me how</ingage-button>
                </div>
            </div>
        </div>
        <corner-star class="subscribed__corner-star"></corner-star>
    </ingage-page>
</template>

<script>
    import IngagePage from '@/components/IngagePage.vue';
    import IngageButton from '@/components/IngageButton.vue';
    import AppStore from '@/components/AppStore.vue';
    import WelcomeFlags from '@/components/WelcomeFlags.vue';
    import TriangleDoodle from '@/components/TriangleDoodle.vue';
    import CornerBurst from '@/components/CornerBurst.vue';
    import CornerStar from '@/components/CornerStar.vue';

    export default {
        name: 'subscribed',
        components: {
            'ingage-page': IngagePage,
            'ingage-button': IngageButton,
            'app-store': AppStore,
            'welcome-flags': WelcomeFlags,
            'triangle-doodles': TriangleDoodle,
            'corner-burst': CornerBurst,
            'corner-star': CornerStar
        },
        data () {
            return {
                iPad: !!navigator.platform && /iPad/.test(navigator.platform),
                iPhone: !!navigator.platform && /iPhone/.test(navigator.platform),
                installInstants: 'https://instants.zendesk.com/hc/en-us/articles/360002945154',
                installStories: 'https://ingage.zendesk.com/hc/en-us/articles/235286267'
            };
        },
        computed: {
            showAppStore () {
                const { iPad, iPhone } = this;
                const { name } = this.$route;

                return (iPad && name === 'purchase-subscribed-stories') ||
                       (iPhone && name === 'purchase-subscribed-instants');
            }
        },
        methods: {
            openInstallTutorial () {
                const { installInstants, installStories } = this;
                const { name } = this.$route;

                if (name === 'purchase-subscribed-instants') {
                    window.location.href = installInstants;
                }

                else {
                    window.location.href = installStories;
                }
            }
        }
    };
</script>

<style lang="stylus">
    @import '~@/assets/styles/vars'
    @import '~@/assets/styles/colors'

    .subscribed
        padding 42px 0 122px
        text-align center
        color dark-grey

        @media (min-width $mq-md)
            padding 49px 0 122px

        &__title
            font-family 'DomaineDisplay-SemiBold'
            font-size 24px
            margin-bottom 36px

            @media (min-width $mq-md)
                font-size 48px

        &__wrapper
            position relative
            max-width 580px
            margin 0 auto

        &__box
            position relative
            padding 32px 28px
            border-width 1px
            border-style solid
            border-color disabled-grey
            border-radius 12px
            background light-grey

            @media (min-width $mq-md)
                padding 36px

        &__subtitle
            font-family 'Calibre-SemiBold'
            font-size 17px
            line-height 25px
            margin-bottom 16px

            @media (min-width $mq-md)
                font-size 26px
                line-height 32px

        &__text
            font-family 'Calibre-Regular'
            font-size 14px
            line-height 23px

            @media (min-width $mq-md)
                font-size 17px
                line-height 25px
                padding 0 38px

        &__text + &__text
            margin-top 24px

            @media (min-width $mq-md)
                padding 0 60px

        &__app-store
            display block
            margin 24px auto 0

            @media (min-width $mq-md)
                margin 32px auto 0

        &__button&__button
            font-size 16px
            width 150px
            height 49px
            margin 24px auto 0
            color $dark-grey-two

            @media (min-width $mq-md)
                margin 32px auto 0

        &__corner-star
            @media (max-width $mq-md - 1)
                left auto
                right 14%
                bottom 5%

            @media (min-width $mq-xl)
                right 17%
                bottom 5%
</style>
